.WhyUs {
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    .WhyUs_wrapper {
        width: 1200px;
      .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid #818181;
  
        .item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border: 1px solid #818181; 
          padding: 24px;
          height: 300px;
          & > p {
            color: #A5A5A5;
            font-size: 16px;
            font-family: 'Helvetica';
            font-weight: 400;
            line-height: 120%;
          }
          & > .item_title {
            font-family: 'Russo One';
            font-size: 24px;
            text-transform: uppercase;
          }
          & > .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > span.subtitle {
                color: #C0C0C0;
                font-family: 'Helvetica';
                font-weight: 700;
                font-size: 20px;
            }
          }
  
          &.half {
            grid-column: span 2; // половина ширины
          }
          &.quarter {
            grid-column: span 1;
          }
        }
      }
    }
  }
  
  // адаптив
  @media (max-width: 1200px) {
    .WhyUs {
        padding: 48px 0px;
      .WhyUs_wrapper {
        width: 100%;
        padding: 0px 24px;
        .content {
          grid-template-columns: 1fr; // всё в колонку
  
          .item {
            grid-column: span 1 !important; // сброс половины/четверти
            height: auto;
            gap: 24px;
          }
        }
      }
    }
  }
  