.work {
    & > .Service_steps {
        padding: 80px 0px 0px 0px;
        background-color: rgba(208, 208, 208, 1);
        & > .Service_steps__wrapper {
          width: 1200px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          gap: 48px;
          & > h2 {
            color: black;
            font-size: 24px;
            font-family: 'Russo One';
            margin-bottom: 0px;
          }
          & > .steps {
            display: flex;
            & > .step {
              display: flex;
              flex-direction: column;
              gap: 16px;
              min-height: 390px;
              border: 1px solid rgba(170, 170, 170, 1);
              padding: 24px;
              flex: 1;
              & > span {
                font-size: 40px;
                font-family: 'Russo One';
                color: rgba(170, 170, 170, 1);
              }
              & > h3 {
                font-family: 'Helvetica';
                color: black;
                font-size: 20px;
                line-height: 120%;
                font-weight: 700;
                letter-spacing: 0%;
              }
              & > p {
                font-family: 'Helvetica';
                color: black;
                font-size: 20px;
                line-height: 120%;
                font-weight: 400;
                letter-spacing: 0%;
              }
            }
          }
        }
    }
}

@media screen and (max-width: 1200px) {
    .work {
      & > .Service_steps {
        & > .Service_steps__wrapper {
          width: 100%;
          padding: 0px 24px;
          & > .steps {
            flex-direction: column;
            & > .step {
              min-height: 30px;
            }
          }
        }
      }
    }
  }