.Home {
    display: flex;
    flex-direction: column;
    & > .startscreen {
        height: 100vh;
        position: relative;
        background-image: url('/images/mainBG.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;
        padding-bottom: 100px;
        & > .firstRow {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
            width: 1200px;
            & > .buttons {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                & > .send_request {
                    font-size: 16px;
                    font-family: Helvetica;
                    color: white;
                    width: 230px;
                    height: 45px;
                    border: 1px solid white;
                    opacity: 60%;
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover {
                        opacity: 100%;
                      }
                }
                & > .calculate_cost {
                    font-size: 16px;
                    font-family: Helvetica;
                    color: black;
                    background-color: white;
                    width: 230px;
                    height: 45px;
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover {
                        color: white;
                        background-color: #242424;
                    }
                }
            }
        }
        & > .secondRow {
            display: flex;
            width: 1200px;
            justify-content: flex-end;
            & > p {
                max-width: 534px;
                text-align: right;
                font-size: 24px;
                font-family: 'Russo One';
                color: #C0C0C0;
                line-height: 103%;
                text-transform: uppercase;
            }
        }
    }
    & > .blackInfo {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 200px;
        background-color: black;
        & > .content {
            width: 1200px;
            display: flex;
            flex-direction: column;
            gap: 124px;
            & > h2 {
                color: white;
                font-size: 48px;
                text-align: center;
                & > span {
                    font-size: 24px;
                }
            }
            & > .row {
                display: flex;
                gap: 120px;
                align-items: center;
                & > img {
                    flex-shrink: 0;
                }
                & > .textBlock {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    & > h3 {
                        color: white;
                        font-size: 24px;
                        text-transform: uppercase;
                        line-height: 103%;
                    }
                    & > p {
                        font-size: 20px;
                        color: white;
                        font-family: Helvetica;
                    }
                }
                &.row1 {
                    & > .textBlock {
                        width: 528px;
                    }
                }
                &.row2 {
                    justify-content: flex-end;
                    & > .textBlock {
                        width: 387px;
                    }
                }
                &.row3 {
                    & > .textBlock {
                        width: 488px;
                    }
                }
            }
        }
    }
    & .numbersBlock {
        background-color: #D0D0D0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        & > .content {
            display: flex;
            flex-direction: column;
            width: 1200px;
            padding: 80px 0px;
            gap: 80px;
            & > .row1 {
                display: flex;
                padding-left: 80px;
                justify-content: space-between;
                & > .block1 {
                    position: relative;
                    & > span {
                        position: absolute;
                        bottom: 1;
                        left: 45;
                        color: black;
                        font-size: 20;
                    }
                }
                & > .block2 {
                    display: flex;
                    align-items: flex-end;
                    & > span {
                        text-wrap: nowrap;
                        color: black;
                        font-size: 20;
                        & > a {
                            transition: all 0.2s;
                            &:hover {
                                color: #2b6eff;
                            }
                        }
                    }
                }
            }
            & > .row2 {
                display: flex;
                padding-right: 80px;
                justify-content: space-between;
                & > .block3 {
                    position: relative;
                    & > span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: black;
                        font-size: 20;
                        text-wrap: nowrap;
                    }
                }
                & > .block4 {
                    position: relative;
                    & > span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: black;
                        font-size: 20;
                        text-wrap: nowrap;
                    }
                }
            }
        }
    }
    & > .topServices {
        background-color: black;
        display: flex;
        justify-content: center;
        & > .content {
            width: 1200px;
            display: flex;
            flex-direction: column;
            padding: 120px 0px;
            gap: 60px;
            & > h2 {
                color: #656565;
                font-size: 131px;
                text-align: center;
                text-transform: capitalize;
            }
            & > .infoBlock {
                display: flex;
                justify-content: space-between;
                & > h3 {
                    font-size: 24px;
                    color: white;
                    line-height: 103%;
                    width: 474px;
                    text-transform: uppercase;
                }
                & > p {
                    font-size: 20px;
                    font-family: Helvetica;
                    line-height: 130%;
                    width: 488px;
                    & > a {
                        color: #ffffff;
                        opacity: 1;
                        font-weight: 700;
                        transition: all 0.2s;
                        background-color: #2b6eff;
                        padding: 2px 6px;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
            & > .rows {
                display: flex;
                flex-direction: column;
                width: 100%;
              
                & > .row {
                  position: relative; // нужно для ::before
                  overflow: hidden;
              
                  display: flex;
                  padding: 0px 60px;
                  height: 192px;
                  justify-content: space-between;
                  align-items: center;
                  transition: all 0.3s;
              
                  // 🧩 overlay
                  &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 0%;
                    background: rgba(255, 255, 255, 0.2);
                    transition: width 0.3s ease;
                    z-index: 0;
                  }
              
                  // 🧩 анимация при наведении
                  &:hover::before {
                    width: 100%;
                  }
              
                  // 🧩 текст и всё остальное поверх оверлея
                  & > * {
                    position: relative;
                    z-index: 1;
                  }
              
                  & > span.num {
                    font-family: 'Russo One';
                    font-size: 24px;
                    text-transform: uppercase;
                    color: #707070;
                    width: 30px;
                    flex-shrink: 0;
                  }
              
                  & > span.name {
                    font-size: 24px;
                    color: white;
                    font-family: 'Russo One';
                    text-transform: uppercase;
                    text-align: start;
                    width: 320px;
                    line-height: 103%;
                  }
              
                  & > p {
                    width: 430px;
                    font-size: 16px;
                    color: white;
                    font-family: Helvetica;
                  }
              
                  & > img {
                    flex-shrink: 0;
                    cursor: pointer;
                  }
                }
              
                & > .row1 {
                  background-image: url(../../public/images/serviceBG1.png);
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
              
                & > .row2 {
                  background-image: url(../../public/images/serviceBG2.png);
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
              
                & > .row3 {
                  background-image: url(../../public/images/serviceBG3.png);
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
              }              
        }
    }
}