/* Основной блок */
.About {
  & > .Startscreen {
    background-image: url("/images/black_car_about.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;

    & > .startscreen_text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 120px;

      & > .car_mobile {
        display: none;
      }

      & > .about_title {
        font-size: 96px;
        padding: 120px;

        & > h1.title { font-size: 24px; }
        & > p.subtitle { font-family: Helvetica; font-size: 20px; }
      }

      & > .block_title {
        padding-left: 30px;
        border-left: 2px solid #fff;
        height: 100%;
        padding-right: 120px;
      }

      & > .slider_hover {
        position: relative;
        padding: 0 0 120px 120px;
      }
    }
  }

  & > .block_about {
    margin: auto;
    padding: 120px 120px 80px;

    & > .block_about_photo_text {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap;

      & > .text_block_about {
        flex: 1 1 620px;
        min-width: 0;

        & > h1.title_block_about {
          font-size: 36px;
          text-transform: uppercase;
          line-height: 103%;
          padding-bottom: 40px;
        }
        & > p.description_block_about {
          font-family: Helvetica;
          font-size: 16px;
          padding: 20px 0;
        }
        & > .citation_block_about {
          border-left: 1px solid #c0c0c0;
          display: flex;
          align-items: center;
          padding-left: 20px;
          height: 43px;
          font-family: Helvetica;
          font-size: 16px;
          font-style: italic;
        }
      }

      & > img {
        flex: 0 1 auto;
        max-width: 100%;
        height: auto;
        margin-top: 1rem;
      }
    }
  }

  & > .block_assets_about {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;

    & > .asset {
      font-family: Helvetica;
      font-size: 16px;
      width: 285px;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }

  & > .block_box_citation {
    display: flex;
    justify-content: flex-end;
    padding: 90px 120px 120px 0;

    & > .block_title_assets_about {
      padding-left: 30px;
      border-left: 2px solid #fff;
      width: 50%;

      & > h1.title_block2 {
        font-size: 24px;
        line-height: 103%;
        padding-bottom: 20px;
      }
      & > p.subtitle_block2 {
        font-family: Helvetica;
        font-size: 16px;
        line-height: 130%;
      }
    }
  }

  & > .block_about_from_founder {
    background-color: #d0d0d0;
    background-size: cover;
    background-position: center;
    position: relative;

    & > .hero_title {
      font-size: 48px;
      line-height: 103%;
      text-align: center;
      text-transform: uppercase;
      padding-top: 120px;
      color: #000;
    }

    & > .row_1_description_photo,
    & > .row_2_description_photo {
      display: flex;
      justify-content: space-between;
      padding: 70px 120px;
      gap: 2rem;
      flex-wrap: wrap;

      & > p.description_about_block_founder {
        font-family: Helvetica;
        font-size: 20px;
        line-height: 130%;
        max-width: 660px;
        color: #000;
      }
    }

    & > .signature {
      display: flex;
      justify-content: flex-end;
      font-family: Helvetica;
      font-size: 16px;
      font-style: italic;
      padding: 0 120px 120px;
      margin-top: -100px;
      z-index: 2;
      color: black;
    }
  }

  & > .team {
    background-color: #000;
    position: relative;

    & > .team_title { font-size: 36px; padding: 120px 0 60px 120px; }
    & > .slider2 { position: relative; padding: 0 0 120px 120px; }
  }

  /* Вложенные медиа-запросы */
  @media (max-width: 1200px) {
    & > .Startscreen {
      & > .startscreen_text {
        row-gap: 500px;
        & > h1.about_title {
          padding: 120px 0px 0px 24px;
        }
        & > .block_title {
          margin-top: 120px;
        }
      }
    }
    & > .block_about { padding: 120px 60px 80px; }
    & > .block_assets_about { flex-wrap: wrap; padding: 20px 60px; }
    & > .block_about_from_founder {
      & .row_1_description_photo { padding: 70px 60px; }
      & .row_2_description_photo { padding: 70px 60px; flex-direction: column-reverse; }
    }
    & .slider2 { padding-left: 60px; }
    & .team_title { padding-left: 60px; }
    & .photo_worker { width: 50%; }
    & .signature { margin-top: 0; }
  }

  @media (max-width: 930px) {
    & > .Startscreen {
      background: black;
      & > .startscreen_text {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0px;
        & > .car_mobile {
          display: block;
          position: relative;
          width: 100%;
          aspect-ratio: 16 / 9;  /* высота = ширина / (16/9) */
        }
        & > h1.about_title {
          padding: 120px 0px 0px 24px;
          font-size: 32px;
        }
        & > .block_title {
          margin-top: 0;
          margin-left: 24px;
          & > h1.title {
            font-size: 20px;
          }
          & > p.subtitle {
            font-size: 16px;
          }
        }
        & > .slider_hover {
          margin-top: 32px;
          padding: 0px 0px 24px 24px;
        }
      }
    }
    & > .block_about_from_founder {
      & > .signature { 
        margin: 0 15px;
        padding: 0 0 24px 0;
      }
    }
    & .block_about_photo_text { flex-direction: column; }
    & .text_block_about,
    & .block_about_photo_text img { width: 100%; }
  }

  @media (max-width: 480px) {
    & .about_title { font-size: 32px; }
    & .title { font-size: 20px; }
    & .subtitle { font-size: 16px; }
    & .slider_hover { padding: 250px 0 60px 15px; }
    & .block_title { margin-left: 15px; padding-right: 15px; }
    & .block_about { padding: 120px 15px 80px; }
    & .title_block_about { font-size: 20px; }
    & .text_block_about { flex: auto; }
    & .block_assets_about { 
      padding: 15px;
      flex-direction: column;
      align-items: center;
      gap: 30px; 
      & > .asset {
        width: 100%;
      }
    }
    & .asset {
      gap: 15px;
      width: auto;

      & > p { padding: 0 6px; }
    }
    & .title_block2 { font-size: 20px; }
    & .subtitle_block2 { font-size: 16px; }
    & .block_box_citation { 
      display: block; 
      padding-right: 15px; 
      width: 100%;
      & > .block_title_assets_about {
        margin-left: 15px; padding-right: 15px; width: 100%;
      }
    }
    & > .block_about_from_founder {
      & > h1.hero_title {
        font-size: 24px;
      }
      & > .row_1_description_photo {
        padding: 60px 15px; flex-direction: column-reverse;
      }
      & > .row_2_description_photo { 
        padding: 0 15px 60px; 
        & > img {
          width: 100%;
        }
      }
    }
    & > .team {
      & > .team_title { 
        font-size: 20px; 
        padding: 48px 0 30px 24px; 
      }
      & > .slider2 { 
        padding: 0 0 120px 15px; 
      }
    }
    & .description_about_block_founder { font-size: 16px; }
  }
}