.Footer {
    display: flex;
    flex-direction: column;
    & > .first {
        background-color: black;
        display: flex;
        justify-content: center;
        padding: 64px 0px;
        & > .first__wrapper {
            display: flex;
            justify-content: space-between;
            width: 1200px;
            & > .col {
                width: 22%;
                display: flex;
                flex-direction: column;
                gap: 16px;
                & > p {
                    font-family: 'Helvetica';
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(192, 192, 192, 1);
                    margin: 0;
                }
                & > span {
                    font-family: 'Helvetica';
                    font-weight: 700;
                    font-size: 16px;
                    color: rgba(152, 162, 179, 1);
                    margin: 0;
                }
                & > a {
                    font-family: 'Helvetica';
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(234, 236, 240, 1);
                    margin: 0;
                    transition: all 0.2s;
                }
            }
        }
    }
    & > .second {
        background-color: rgba(38, 38, 38, 1);
        padding: 24px 0px;
        min-height: 136px;
        display: flex;
        justify-content: center;
        & > .second__wrapper {
            width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            & > span {
                color: rgba(152, 162, 179, 1);
                font-size: 16px;
                font-weight: 400;
                font-family: 'Helvetica';
            }
            & > .links {
                display: flex;
                align-items: center;
                gap: 14px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .Footer {
        & > .first {
            width: 100%;
            padding: 48px 24px;
        }
        & > .second {
            width: 100%;
            padding: 48px 24px;
        }
    }
}

@media screen and (max-width: 900px) {
    .Footer {
        & > .first {
            & > .first__wrapper {
                flex-wrap: wrap;
                gap: 48px 0px;
                & > .col {
                    width: 49%;
                    flex-shrink: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .Footer {
        & > .first {
            & > .first__wrapper {
                gap: 32px 0px;
                & > .col {
                    gap: 12px;
                    width: 100%;
                }
            }
        }
        & > .second {
            padding: 48px 24px 80px 24px;
            & > .second__wrapper {
                flex-direction: column;
                & > span {
                    text-align: center;
                }
            }
        }
    }
}