---
---
---
import Layout from '../../layouts/Layout.astro';

const title = 'Ремонт двигателя BMW - YanisGrek';
const description = 'Ремонт и диагностика двигателей BMW. Замена деталей, чистка, повышение производительности.';
---

<Layout {title} {description}>
  <main>
    <h1>Ремонт двигателя</h1>
    <p>Услуги по ремонту двигателя</p>
  </main>
</Layout>