/* [project]/src/app/contacts/contacts.scss.css [app-client] (css) */
input {
  color: #fff;
  background-color: #0000 !important;
}

input::placeholder {
  color: #ffffff80;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  background-color: #0000 !important;
  transition: background-color 5000s ease-in-out !important;
  -webkit-box-shadow: inset 0 0 0 1000px #0000 !important;
  box-shadow: inset 0 0 0 1000px #0000 !important;
}

.Contacts {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media screen and (width <= 1050px) {
  .bg-image {
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  .right-blur-overlay {
    backdrop-filter: blur(10px);
    z-index: 1;
    will-change: backdrop-filter;
    pointer-events: none;
    background-color: #0006;
    height: 100%;
    position: absolute;
    transform: translateZ(0);
    width: 100% !important;
  }
}

.bg-image {
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.right-blur-overlay {
  backdrop-filter: blur(10px);
  z-index: 1;
  will-change: backdrop-filter;
  pointer-events: none;
  background-color: #0006;
  width: 405px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateZ(0);
}

.ContactFormSection {
  z-index: 2;
  padding: 120px 0 0 120px;
  position: relative;
}

@media screen and (width <= 740px) {
  .Contacts {
    height: auto;
    min-height: 100vh;
  }

  .ContactFormSection {
    max-width: 500px;
    margin: 80px auto;
    padding: 15px;
  }
}

.yandex_map {
  background-color: #d0d0d0;
  background-position: center;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

@media screen and (width <= 500px) {
  .ContactFormSection {
    max-width: 470px;
    margin: 80px auto;
    padding: 15px;
  }

  .form-label-1 {
    display: none;
  }

  .form-label {
    font-size: 12px;
  }

  .form-datetime {
    width: 100% !important;
  }
}

.form {
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  font-family: Russo One, sans-serif;
  display: flex;
}

.form-row {
  border: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.form-label, .form-label-1 {
  color: #fff;
  text-transform: uppercase;
  width: 183px;
  padding-left: 15px;
  font-size: 14px;
}

.form-input {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  width: 305px;
  padding: 10px;
  font-family: inherit;
}

.form-input::placeholder {
  color: #ffffff80;
}

.form-input:-webkit-autofill {
  transition: background-color 100000s ease-in-out;
  -webkit-text-fill-color: #fff !important;
  background: none !important;
}

.form-datetime {
  width: 305px;
  display: flex;
}

.form-button {
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 12px;
  font-weight: bold;
  transition: background .3s;
}

.form-button:hover {
  background-color: #e0e0e0;
}

.contacts-info {
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 500px;
  margin-top: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: grid;
}

.contacts-info-block {
  background-color: #ffffff0d;
  border: 1px solid #ffffff4d;
  padding: 16px;
}

.title-contacts-info {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  font-family: Russo One, sans-serif;
  font-size: 16px;
}

.contacts-info-block p {
  margin: 0;
}

input[type="date"], input[type="time"] {
  color-scheme: dark;
}


/*# sourceMappingURL=src_app_contacts_contacts_scss_58894cdb.css.map*/