/* [project]/src/styles/mainPage.scss.css [app-client] (css) */
.Home {
  flex-direction: column;
  display: flex;
}

.Home > .startscreen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  height: 100vh;
  min-height: 850px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.Home > .startscreen:before {
  content: "";
  opacity: 0;
  z-index: -1;
  background: url("/images/mainBG.png") center / contain no-repeat;
  animation: 5s forwards bgFade;
  position: absolute;
  inset: 0;
}

.Home > .startscreen > .firstRow {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 1200px;
  animation: 2s forwards showMainButtons;
  display: flex;
}

.Home > .startscreen > .firstRow > .buttons {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.Home > .startscreen > .secondRow {
  justify-content: flex-end;
  width: 1200px;
  animation: 2s forwards showMainText;
  display: flex;
}

.Home > .startscreen > .secondRow > p {
  text-align: right;
  color: silver;
  text-transform: uppercase;
  max-width: 534px;
  font-family: Russo One;
  font-size: 24px;
  line-height: 103%;
}

.Home > .blackInfo {
  background-color: #000;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
}

.Home > .blackInfo > .content {
  flex-direction: column;
  gap: 124px;
  width: 1200px;
  display: flex;
}

.Home > .blackInfo > .content > h2 {
  color: #fff;
  text-align: center;
  font-size: 48px;
}

.Home > .blackInfo > .content > h2 > span {
  font-size: 24px;
}

.Home > .blackInfo > .content > .row {
  align-items: center;
  gap: 120px;
  display: flex;
}

.Home > .blackInfo > .content > .row > img {
  flex-shrink: 0;
}

.Home > .blackInfo > .content > .row > .textBlock {
  flex-direction: column;
  gap: 30px;
  display: flex;
}

.Home > .blackInfo > .content > .row > .textBlock > h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 103%;
}

.Home > .blackInfo > .content > .row > .textBlock > p {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
}

.Home > .blackInfo > .content > .row.row1 > .textBlock {
  width: 528px;
}

.Home > .blackInfo > .content > .row.row2 {
  justify-content: flex-end;
}

.Home > .blackInfo > .content > .row.row2 > .textBlock {
  width: 387px;
}

.Home > .blackInfo > .content > .row.row3 > .textBlock {
  width: 488px;
}

.Home .numbersBlock {
  background-color: #d0d0d0;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.Home .numbersBlock > .content {
  flex-direction: column;
  gap: 80px;
  width: 1200px;
  padding: 80px 0;
  display: flex;
}

.Home .numbersBlock > .content > .row1 {
  justify-content: space-between;
  padding-left: 80px;
  display: flex;
}

.Home .numbersBlock > .content > .row1 > .block1 {
  position: relative;
}

.Home .numbersBlock > .content > .row1 > .block1 > span {
  color: #000;
  font-size: 20px;
  position: absolute;
  bottom: 1px;
  left: 45px;
}

.Home .numbersBlock > .content > .row1 > .block2 {
  align-items: flex-end;
  display: flex;
}

.Home .numbersBlock > .content > .row1 > .block2 > span {
  text-wrap: nowrap;
  color: #000;
  font-size: 20px;
}

.Home .numbersBlock > .content > .row1 > .block2 > span > a {
  transition: all .2s;
}

.Home .numbersBlock > .content > .row1 > .block2 > span > a:hover {
  color: #2b6eff;
}

.Home .numbersBlock > .content > .row2 {
  justify-content: space-between;
  padding-right: 80px;
  display: flex;
}

.Home .numbersBlock > .content > .row2 > .block3 {
  position: relative;
}

.Home .numbersBlock > .content > .row2 > .block3 > span {
  color: #000;
  text-wrap: nowrap;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Home .numbersBlock > .content > .row2 > .block4 {
  position: relative;
}

.Home .numbersBlock > .content > .row2 > .block4 > span {
  color: #000;
  text-wrap: nowrap;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Home > .topServices {
  background-color: #000;
  justify-content: center;
  display: flex;
}

.Home > .topServices > .content {
  flex-direction: column;
  gap: 60px;
  width: 1200px;
  padding: 120px 0;
  display: flex;
}

.Home > .topServices > .content > .remont {
  gap: 24px;
  display: flex;
}

.Home > .topServices > .content > .remont > .block {
  box-sizing: border-box;
  cursor: pointer;
  background-color: #2e2e2e;
  width: 50%;
  min-height: 150px;
  padding: 24px;
  transition: all .3s;
}

.Home > .topServices > .content > .remont > .block:hover {
  background-color: #656565;
}

.Home > .topServices > .content > .remont > .block > h3 {
  color: #fff;
  font-size: 24px;
}

.Home > .topServices > .content > .remont > .block > span {
  font-family: Helvetica;
}

.Home > .topServices > .content > h2 {
  color: #656565;
  text-align: center;
  text-transform: capitalize;
  font-size: 131px;
}

.Home > .topServices > .content > .infoBlock {
  justify-content: space-between;
  display: flex;
}

.Home > .topServices > .content > .infoBlock > h3 {
  color: #fff;
  text-transform: uppercase;
  width: 474px;
  font-size: 24px;
  line-height: 103%;
}

.Home > .topServices > .content > .infoBlock > p {
  width: 488px;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 130%;
}

.Home > .topServices > .content > .infoBlock > p > a {
  color: #fff;
  opacity: 1;
  background-color: #2b6eff;
  padding: 2px 6px;
  font-weight: 700;
  transition: all .2s;
}

.Home > .topServices > .content > .infoBlock > p > a:hover {
  opacity: .7;
}

.Home > .topServices > .content > .rows {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.Home > .topServices > .content > .rows > .row {
  justify-content: space-between;
  align-items: center;
  height: 192px;
  padding: 0 60px;
  transition: all .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.Home > .topServices > .content > .rows > .row:before {
  content: "";
  z-index: 0;
  background: #fff3;
  width: 0%;
  height: 100%;
  transition: width .3s;
  position: absolute;
  top: 0;
  left: 0;
}

.Home > .topServices > .content > .rows > .row:hover:before {
  width: 100%;
}

.Home > .topServices > .content > .rows > .row > * {
  z-index: 1;
  position: relative;
}

.Home > .topServices > .content > .rows > .row > span.num {
  text-transform: uppercase;
  color: #707070;
  flex-shrink: 0;
  width: 30px;
  font-family: Russo One;
  font-size: 24px;
}

.Home > .topServices > .content > .rows > .row > span.name {
  color: #fff;
  text-transform: uppercase;
  text-align: start;
  width: 320px;
  font-family: Russo One;
  font-size: 24px;
  line-height: 103%;
}

.Home > .topServices > .content > .rows > .row > p {
  color: #fff;
  width: 430px;
  font-family: Helvetica;
  font-size: 16px;
}

.Home > .topServices > .content > .rows > .row > img {
  cursor: pointer;
  flex-shrink: 0;
}

.Home > .topServices > .content > .rows > .row1 {
  background-image: url("../media/serviceBG1.5d0b23ba.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home > .topServices > .content > .rows > .row2 {
  background-image: url("../media/serviceBG2.319ce037.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home > .topServices > .content > .rows > .row3 {
  background-image: url("../media/serviceBG3.90138101.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (width <= 1250px) {
  .Home > .startscreen > .firstRow {
    width: 100%;
    padding-left: 25px;
  }

  .Home > .startscreen > .secondRow {
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;
    display: flex;
  }

  .Home > .blackInfo > .content {
    width: 100%;
  }

  .Home > .blackInfo > .content > .row {
    gap: 60px;
    padding: 0 25px;
  }

  .Home > .blackInfo > .content > .row > .textBlock {
    gap: 30px;
  }

  .Home .numbersBlock > .content {
    flex-direction: column;
    gap: 80px;
    width: 100%;
    padding: 80px 0;
    display: flex;
  }

  .Home .numbersBlock > .content > .row1 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Home .numbersBlock > .content > .row1 > .block1 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a {
    transition: all .2s;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a:hover {
    color: #2b6eff;
  }

  .Home .numbersBlock > .content > .row2 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home .numbersBlock > .content > .row2 > .block3 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block3 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home .numbersBlock > .content > .row2 > .block4 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block4 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home > .topServices {
    background-color: #000;
    justify-content: center;
    display: flex;
  }

  .Home > .topServices > .content {
    flex-direction: column;
    gap: 60px;
    width: 100%;
    padding: 120px 0;
    display: flex;
  }

  .Home > .topServices > .content > .remont {
    padding: 0 24px;
  }

  .Home > .topServices > .content > h2 {
    color: #656565;
    text-align: center;
    text-transform: capitalize;
    font-size: 90px;
  }

  .Home > .topServices > .content > .infoBlock {
    justify-content: space-between;
    display: flex;
  }

  .Home > .topServices > .content > .infoBlock > h3 {
    color: #fff;
    text-transform: uppercase;
    width: 474px;
    padding-left: 25px;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .infoBlock > p {
    width: 350px;
    padding-right: 25px;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 130%;
  }

  .Home > .topServices > .content > .infoBlock > p > a {
    color: #fff;
    opacity: 1;
    background-color: #2b6eff;
    padding: 2px 6px;
    font-weight: 700;
    transition: all .2s;
  }

  .Home > .topServices > .content > .infoBlock > p > a:hover {
    opacity: .7;
  }

  .Home > .topServices > .content > .rows {
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row {
    justify-content: space-between;
    align-items: center;
    height: 192px;
    padding: 0 25px;
    transition: all .3s;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .Home > .topServices > .content > .rows > .row:before {
    content: "";
    z-index: 0;
    background: #fff3;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Home > .topServices > .content > .rows > .row:hover:before {
    width: 100%;
  }

  .Home > .topServices > .content > .rows > .row > * {
    z-index: 1;
    position: relative;
  }

  .Home > .topServices > .content > .rows > .row > span.num {
    text-transform: uppercase;
    color: #707070;
    flex-shrink: 0;
    width: 30px;
    font-family: Russo One;
    font-size: 24px;
  }

  .Home > .topServices > .content > .rows > .row > span.name {
    color: #fff;
    text-transform: uppercase;
    text-align: start;
    width: 320px;
    font-family: Russo One;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .rows > .row > p {
    color: #fff;
    width: 430px;
    font-family: Helvetica;
    font-size: 16px;
  }

  .Home > .topServices > .content > .rows > .row > img {
    cursor: pointer;
    flex-shrink: 0;
  }

  .Home > .topServices > .content > .rows > .row1 {
    background-image: url("../media/serviceBG1.5d0b23ba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
  }

  .Home > .topServices > .content > .rows > .row2 {
    background-image: url("../media/serviceBG2.319ce037.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
  }

  .Home > .topServices > .content > .rows > .row3 {
    background-image: url("../media/serviceBG3.90138101.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
  }
}

@media screen and (width <= 900px) {
  .Home > .startscreen > .firstRow {
    width: 100%;
    padding-left: 25px;
  }

  .Home > .startscreen > .secondRow {
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;
    display: flex;
  }

  .Home > .blackInfo > .content {
    width: 100%;
  }

  .Home > .blackInfo > .content > h2 {
    font-size: 40px;
  }

  .Home > .blackInfo > .content > .row {
    flex-wrap: wrap;
    gap: 60px;
    padding: 0 25px;
  }

  .Home > .blackInfo > .content > .row > .textBlock {
    gap: 30px;
  }

  .Home .numbersBlock > .content {
    flex-direction: column;
    gap: 80px;
    width: 100%;
    padding: 80px 0;
    display: flex;
  }

  .Home .numbersBlock > .content > .row1 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Home .numbersBlock > .content > .row1 > .block1 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span {
    color: #2b6eff;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a {
    transition: all .2s;
  }

  .Home .numbersBlock > .content > .row2 {
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
    display: flex;
  }

  .Home .numbersBlock > .content > .row2 > .block3 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block3 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home .numbersBlock > .content > .row2 > .block4 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block4 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home > .topServices {
    background-color: #000;
    justify-content: center;
    display: flex;
  }

  .Home > .topServices > .content {
    flex-direction: column;
    gap: 60px;
    width: 100%;
    padding: 120px 0;
    display: flex;
  }

  .Home > .topServices > .content > .remont {
    flex-direction: column;
  }

  .Home > .topServices > .content > .remont > .block {
    width: 100%;
  }

  .Home > .topServices > .content > h2 {
    color: #656565;
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
  }

  .Home > .topServices > .content > .infoBlock {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    display: flex;
  }

  .Home > .topServices > .content > .infoBlock > h3 {
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    padding-left: 25px;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .infoBlock > p {
    width: 90%;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 130%;
  }

  .Home > .topServices > .content > .infoBlock > p > a {
    color: #fff;
    opacity: 1;
    background-color: #2b6eff;
    padding: 2px 6px;
    font-weight: 700;
    transition: all .2s;
  }

  .Home > .topServices > .content > .infoBlock > p > a:hover {
    opacity: .7;
  }

  .Home > .topServices > .content > .rows {
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row {
    justify-content: space-between;
    align-items: center;
    height: 192px;
    padding: 0 25px;
    transition: all .3s;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .Home > .topServices > .content > .rows > .row:before {
    content: "";
    z-index: 0;
    background: #fff3;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Home > .topServices > .content > .rows > .row:hover:before {
    width: 100%;
  }

  .Home > .topServices > .content > .rows > .row > * {
    z-index: 1;
    position: relative;
  }

  .Home > .topServices > .content > .rows > .row > span.num {
    display: none;
  }

  .Home > .topServices > .content > .rows > .row > span.name {
    color: #fff;
    text-transform: uppercase;
    text-align: start;
    width: 320px;
    font-family: Russo One;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .rows > .row > p {
    color: #fff;
    width: 90%;
    font-family: Helvetica;
    font-size: 16px;
  }

  .Home > .topServices > .content > .rows > .row > img {
    cursor: pointer;
    flex-shrink: 0;
  }

  .Home > .topServices > .content > .rows > .row1 {
    background-image: url("../media/serviceBG1.5d0b23ba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row2 {
    background-image: url("../media/serviceBG2.319ce037.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row3 {
    background-image: url("../media/serviceBG3.90138101.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
}

@media screen and (width <= 600px) {
  .Home > .startscreen {
    background-position: 50% 180px;
    background-size: 160%;
    overflow: hidden;
  }

  .Home > .startscreen > .firstRow {
    width: 100%;
    padding-left: 15px;
  }

  .Home > .startscreen > .secondRow {
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;
    display: flex;
  }

  .Home > .startscreen > .secondRow > p {
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
  }

  .Home > .blackInfo {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .Home > .blackInfo > .content {
    gap: 50px;
    width: 100%;
  }

  .Home > .blackInfo > .content > h2 {
    font-size: 20px;
  }

  .Home > .blackInfo > .content > h2 > span {
    font-size: 13px;
  }

  .Home > .blackInfo > .content > .row {
    flex-wrap: wrap;
    gap: 60px;
    padding: 0 25px;
  }

  .Home > .blackInfo > .content > .row > img {
    width: 100%;
  }

  .Home > .blackInfo > .content > .row > .textBlock {
    gap: 30px;
  }

  .Home > .blackInfo > .content > .row > .textBlock > h3 {
    font-size: 20px;
  }

  .Home > .blackInfo > .content > .row > .textBlock > p {
    font-size: 16px;
  }

  .Home > .blackInfo > .content > .row.row2 {
    justify-content: flex-start;
  }

  .Home > .blackInfo > .content > .row.row3 {
    flex-direction: column-reverse;
    display: flex;
  }

  .Home > .blackInfo > .content > .row.row3 > .textBlock {
    width: auto;
  }

  .Home .numbersBlock > .content {
    flex-direction: column;
    gap: 80px;
    width: 100%;
    padding: 80px 0;
    display: flex;
  }

  .Home .numbersBlock > .content > .row1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Home .numbersBlock > .content > .row1 > .block1 {
    align-items: flex-start;
    display: flex;
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span {
    color: #2b6eff;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a {
    transition: all .2s;
  }

  .Home .numbersBlock > .content > .row2 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home .numbersBlock > .content > .row2 > .block3 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block3 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home .numbersBlock > .content > .row2 > .block4 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block4 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home > .topServices {
    background-color: #000;
    justify-content: center;
    display: flex;
  }

  .Home > .topServices > .content {
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 80px 0;
    display: flex;
  }

  .Home > .topServices > .content > h2 {
    color: #656565;
    text-align: center;
    text-transform: capitalize;
    font-size: 38px;
  }

  .Home > .topServices > .content > .infoBlock {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding: 0 24px;
    display: flex;
  }

  .Home > .topServices > .content > .infoBlock > h3 {
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
    font-size: 20px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .infoBlock > p {
    width: 100%;
    padding: 0;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 130%;
  }

  .Home > .topServices > .content > .infoBlock > p > a {
    color: #fff;
    opacity: 1;
    background-color: #2b6eff;
    padding: 2px 6px;
    font-weight: 700;
    transition: all .2s;
  }

  .Home > .topServices > .content > .infoBlock > p > a:hover {
    opacity: .7;
  }

  .Home > .topServices > .content > .rows {
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row {
    justify-content: space-between;
    align-items: center;
    height: 192px;
    padding: 0 24px;
    transition: all .3s;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .Home > .topServices > .content > .rows > .row:before {
    content: "";
    z-index: 0;
    background: #fff3;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Home > .topServices > .content > .rows > .row:hover:before {
    width: 100%;
  }

  .Home > .topServices > .content > .rows > .row > * {
    z-index: 1;
    position: relative;
  }

  .Home > .topServices > .content > .rows > .row > span.num {
    display: none;
  }

  .Home > .topServices > .content > .rows > .row > span.name {
    color: #fff;
    text-transform: uppercase;
    text-align: start;
    width: 100%;
    font-family: Russo One;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .rows > .row > p {
    color: #fff;
    width: 100%;
    font-family: Helvetica;
    font-size: 16px;
  }

  .Home > .topServices > .content > .rows > .row > img {
    cursor: pointer;
    flex-shrink: 0;
  }

  .Home > .topServices > .content > .rows > .row1 {
    background-image: url("../media/serviceBG1.5d0b23ba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row2 {
    background-image: url("../media/serviceBG2.319ce037.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row3 {
    background-image: url("../media/serviceBG3.90138101.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
}

@keyframes showMainButtons {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  50% {
    opacity: .5;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes showMainText {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  50% {
    opacity: .5;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes bgFade {
  to {
    opacity: 1;
  }
}

@media screen and (width <= 500px) {
  .Home > .startscreen:before {
    background: url("/images/mainBG.png") top / 190% no-repeat;
  }
}

/*# sourceMappingURL=src_styles_mainPage_scss_css_f9ee138c._.single.css.map*/