/* [project]/src/components/Header/Header.scss.css [app-client] (css) */
.Header {
  z-index: 100;
  backdrop-filter: blur(5px);
  background-color: #000000a6;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  display: flex;
  position: fixed;
}

.Header > .content {
  justify-content: space-between;
  width: 1200px;
  display: flex;
}

.Header > .content > .burger, .Header > .content > .logo {
  cursor: pointer;
}

.Header > .menu {
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  background-color: #000;
  justify-content: center;
  width: 100%;
  transition: all .3s;
  display: flex;
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.Header > .menu.opened {
  height: 100vh;
  transform: translateX(0);
}

.Header > .menu.closed {
  transform: translateX(-100%);
}

.Header > .menu > .content {
  flex-direction: column;
  gap: 64px;
  width: 1200px;
  padding-top: 34px;
  display: flex;
}

.Header > .menu > .content > img.cross {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.Header > .menu > .content > .links {
  gap: 64px;
  display: flex;
}

.Header > .menu > .content > .links > .linksCol {
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  display: flex;
}

.Header > .menu > .content > .links > .linksCol > a.linkSmall {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all .2s;
}

.Header > .menu > .content > .links > .linksCol > a.linkSmall:hover {
  opacity: .5;
}

.Header > .menu > .content > .links > .linksCol > a.linkTitle {
  color: silver;
  font-family: Russo One;
  font-size: 24px;
  font-weight: 400;
  transition: all .2s;
}

.Header > .menu > .content > .links > .linksCol > a.linkTitle:hover {
  color: #fff;
}

.Header > .menu > .content > .buttons {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.Header > .menu > .content > .buttons > a {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 45px;
  display: flex;
}

.Header > .menu > .content > .buttons > a.calcButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 500;
}

.Header > .menu > .content > .buttons > a.formButton {
  color: #fff9;
  background-color: #0000;
  border: 1px solid #fff9;
  font-size: 16px;
  font-weight: 500;
}

.Header > .menu > .content > img.logo {
  width: 183px;
  height: 25px;
}

@media screen and (width <= 1200px) {
  .Header > .content {
    width: 100%;
    padding: 0 24px;
  }

  .Header > .menu > .content {
    width: 100%;
    padding: 34px 24px 0;
  }
}

@media screen and (width <= 664px) {
  .Header > .menu > .content {
    gap: 24px;
    padding: 64px 24px 80px;
    position: relative;
    overflow-y: scroll;
  }

  .Header > .menu > .content > img.logo {
    margin-bottom: 24px;
  }

  .Header > .menu > .content > img.cross {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .Header > .menu > .content > .links {
    flex-direction: column;
    gap: 24px;
  }

  .Header > .menu > .content > .links > .linksCol {
    gap: 12px;
    width: 100%;
  }

  .Header > .menu > .content > .links > .linksCol > a.linkTitle {
    font-size: 20px !important;
  }

  .Header > .menu > .content > .links > .linksCol > a.linkSmall {
    font-size: 15px !important;
  }

  .Header > .menu > .content > .buttons > a {
    width: 100%;
  }

  .Header > .menu > .content > .buttons > a.phone_link {
    justify-content: flex-start;
    display: flex;
  }
}

@media screen and (width <= 450px) {
  .Header > .content > a.logo {
    display: none;
  }
}


/* [project]/src/app/contacts/contacts.scss.css [app-client] (css) */
input {
  color: #fff;
  background-color: #0000 !important;
}

input::placeholder {
  color: #ffffff80;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  background-color: #0000 !important;
  transition: background-color 5000s ease-in-out !important;
  -webkit-box-shadow: inset 0 0 0 1000px #0000 !important;
  box-shadow: inset 0 0 0 1000px #0000 !important;
}

.Contacts {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media screen and (width <= 1050px) {
  .bg-image {
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  .right-blur-overlay {
    backdrop-filter: blur(10px);
    z-index: 1;
    will-change: backdrop-filter;
    pointer-events: none;
    background-color: #0006;
    height: 100%;
    position: absolute;
    transform: translateZ(0);
    width: 100% !important;
  }
}

.bg-image {
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.right-blur-overlay {
  backdrop-filter: blur(10px);
  z-index: 1;
  will-change: backdrop-filter;
  pointer-events: none;
  background-color: #0006;
  width: 405px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateZ(0);
}

.ContactFormSection {
  z-index: 2;
  padding: 120px 0 0 120px;
  position: relative;
}

@media screen and (width <= 740px) {
  .Contacts {
    height: auto;
    min-height: 100vh;
  }

  .ContactFormSection {
    max-width: 500px;
    margin: 80px auto;
    padding: 15px;
  }
}

.yandex_map {
  background-color: #d0d0d0;
  background-position: center;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

@media screen and (width <= 500px) {
  .ContactFormSection {
    max-width: 470px;
    margin: 80px auto;
    padding: 15px;
  }

  .form-label-1 {
    display: none;
  }

  .form-label {
    font-size: 12px;
  }

  .form-datetime {
    width: 100% !important;
  }
}

.form {
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  font-family: Russo One, sans-serif;
  display: flex;
}

.form-row {
  border: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.form-label, .form-label-1 {
  color: #fff;
  text-transform: uppercase;
  width: 183px;
  padding-left: 15px;
  font-size: 14px;
}

.form-input {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  width: 305px;
  padding: 10px;
  font-family: inherit;
}

.form-input::placeholder {
  color: #ffffff80;
}

.form-input:-webkit-autofill {
  transition: background-color 100000s ease-in-out;
  -webkit-text-fill-color: #fff !important;
  background: none !important;
}

.form-datetime {
  width: 305px;
  display: flex;
}

.form-button {
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 12px;
  font-weight: bold;
  transition: background .3s;
}

.form-button:hover {
  background-color: #e0e0e0;
}

.contacts-info {
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 500px;
  margin-top: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: grid;
}

.contacts-info-block {
  background-color: #ffffff0d;
  border: 1px solid #ffffff4d;
  padding: 16px;
}

.title-contacts-info {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  font-family: Russo One, sans-serif;
  font-size: 16px;
}

.contacts-info-block p {
  margin: 0;
}

input[type="date"], input[type="time"] {
  color-scheme: dark;
}


/* [project]/src/app/about/about.scss.css [app-client] (css) */
.About > .Startscreen {
  background-image: url("/images/black_car_about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  position: relative;
}

.About > .Startscreen > .startscreen_text {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 120px;
  display: flex;
}

.About > .Startscreen > .startscreen_text > .car_mobile {
  display: none;
}

.About > .Startscreen > .startscreen_text > .about_title {
  padding: 120px;
  font-size: 96px;
}

.About > .Startscreen > .startscreen_text > .about_title > h1.title {
  font-size: 24px;
}

.About > .Startscreen > .startscreen_text > .about_title > p.subtitle {
  font-family: Helvetica;
  font-size: 20px;
}

.About > .Startscreen > .startscreen_text > .block_title {
  border-left: 2px solid #fff;
  height: 100%;
  padding-left: 30px;
  padding-right: 120px;
}

.About > .Startscreen > .startscreen_text > .slider_hover {
  padding: 0 0 120px 120px;
  position: relative;
}

.About > .block_about {
  margin: auto;
  padding: 120px 120px 80px;
}

.About > .block_about > .block_about_photo_text {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  display: flex;
}

.About > .block_about > .block_about_photo_text > .text_block_about {
  flex: 620px;
  min-width: 0;
}

.About > .block_about > .block_about_photo_text > .text_block_about > h1.title_block_about {
  text-transform: uppercase;
  padding-bottom: 40px;
  font-size: 36px;
  line-height: 103%;
}

.About > .block_about > .block_about_photo_text > .text_block_about > p.description_block_about {
  padding: 20px 0;
  font-family: Helvetica;
  font-size: 16px;
}

.About > .block_about > .block_about_photo_text > .text_block_about > .citation_block_about {
  border-left: 1px solid silver;
  align-items: center;
  height: 43px;
  padding-left: 20px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: italic;
  display: flex;
}

.About > .block_about > .block_about_photo_text > img {
  flex: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.About > .block_assets_about {
  justify-content: space-between;
  padding: 20px 120px;
  display: flex;
}

.About > .block_assets_about > .asset {
  text-align: center;
  flex-direction: column;
  gap: 20px;
  width: 285px;
  font-family: Helvetica;
  font-size: 16px;
  display: flex;
}

.About > .block_box_citation {
  justify-content: flex-end;
  padding: 90px 120px 120px 0;
  display: flex;
}

.About > .block_box_citation > .block_title_assets_about {
  border-left: 2px solid #fff;
  width: 50%;
  padding-left: 30px;
}

.About > .block_box_citation > .block_title_assets_about > h1.title_block2 {
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 103%;
}

.About > .block_box_citation > .block_title_assets_about > p.subtitle_block2 {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 130%;
}

.About > .block_about_from_founder {
  background-color: #d0d0d0;
  background-position: center;
  background-size: cover;
  position: relative;
}

.About > .block_about_from_founder > .hero_title {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  padding-top: 120px;
  font-size: 48px;
  line-height: 103%;
}

.About > .block_about_from_founder > .row_1_description_photo, .About > .block_about_from_founder > .row_2_description_photo {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 70px 120px;
  display: flex;
}

.About > .block_about_from_founder > .row_1_description_photo > p.description_about_block_founder, .About > .block_about_from_founder > .row_2_description_photo > p.description_about_block_founder {
  color: #000;
  max-width: 660px;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 130%;
}

.About > .block_about_from_founder > .signature {
  z-index: 2;
  color: #000;
  justify-content: flex-end;
  margin-top: -100px;
  padding: 0 120px 120px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: italic;
  display: flex;
}

.About > .team {
  background-color: #000;
  position: relative;
}

.About > .team > .team_title {
  padding: 120px 0 60px 120px;
  font-size: 36px;
}

.About > .team > .slider2 {
  padding: 0 0 120px 120px;
  position: relative;
}

@media (width <= 1200px) {
  .About > .Startscreen > .startscreen_text {
    row-gap: 500px;
  }

  .About > .Startscreen > .startscreen_text > h1.about_title {
    padding: 120px 0 0 24px;
  }

  .About > .Startscreen > .startscreen_text > .block_title {
    margin-top: 120px;
  }

  .About > .block_about {
    padding: 120px 60px 80px;
  }

  .About > .block_assets_about {
    flex-wrap: wrap;
    padding: 20px 60px;
  }

  .About > .block_about_from_founder .row_1_description_photo {
    padding: 70px 60px;
  }

  .About > .block_about_from_founder .row_2_description_photo {
    flex-direction: column-reverse;
    padding: 70px 60px;
  }

  .About .slider2, .About .team_title {
    padding-left: 60px;
  }

  .About .photo_worker {
    width: 50%;
  }

  .About .signature {
    margin-top: 0;
  }
}

@media (width <= 930px) {
  .About > .Startscreen {
    background: #000;
  }

  .About > .Startscreen > .startscreen_text {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0;
  }

  .About > .Startscreen > .startscreen_text > .car_mobile {
    aspect-ratio: 16 / 9;
    width: 100%;
    display: block;
    position: relative;
  }

  .About > .Startscreen > .startscreen_text > h1.about_title {
    padding: 120px 0 0 24px;
    font-size: 32px;
  }

  .About > .Startscreen > .startscreen_text > .block_title {
    margin-top: 0;
    margin-left: 24px;
  }

  .About > .Startscreen > .startscreen_text > .block_title > h1.title {
    font-size: 20px;
  }

  .About > .Startscreen > .startscreen_text > .block_title > p.subtitle {
    font-size: 16px;
  }

  .About > .Startscreen > .startscreen_text > .slider_hover {
    margin-top: 32px;
    padding: 0 0 24px 24px;
  }

  .About .block_about_photo_text {
    flex-direction: column;
  }

  .About .text_block_about, .About .block_about_photo_text img {
    width: 100%;
  }
}

@media (width <= 480px) {
  .About .about_title {
    font-size: 32px;
  }

  .About .title {
    font-size: 20px;
  }

  .About .subtitle {
    font-size: 16px;
  }

  .About .slider_hover {
    padding: 250px 0 60px 15px;
  }

  .About .block_title {
    margin-left: 15px;
    padding-right: 15px;
  }

  .About .block_about {
    padding: 120px 15px 80px;
  }

  .About .title_block_about {
    font-size: 20px;
  }

  .About .text_block_about {
    flex: auto;
  }

  .About .block_assets_about {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 15px;
  }

  .About .block_assets_about > .asset {
    width: 100%;
  }

  .About .asset {
    gap: 15px;
    width: auto;
  }

  .About .asset > p {
    padding: 0 6px;
  }

  .About .title_block2 {
    font-size: 20px;
  }

  .About .subtitle_block2 {
    font-size: 16px;
  }

  .About .block_box_citation {
    width: 100%;
    padding-right: 15px;
    display: block;
  }

  .About .block_box_citation > .block_title_assets_about {
    width: 100%;
    margin-left: 15px;
    padding-right: 15px;
  }

  .About > .block_about_from_founder > h1.hero_title {
    font-size: 24px;
  }

  .About > .block_about_from_founder > .row_1_description_photo {
    flex-direction: column-reverse;
    padding: 60px 15px;
  }

  .About > .block_about_from_founder > .row_2_description_photo {
    padding: 0 15px 60px;
  }

  .About > .block_about_from_founder .signature {
    margin: 0 15px;
    padding: 0 0 24px;
  }

  .About > .team > .team_title {
    padding: 48px 0 30px 24px;
    font-size: 20px;
  }

  .About > .team > .slider2 {
    padding: 0 0 120px 15px;
  }

  .About .description_about_block_founder {
    font-size: 16px;
  }
}


/* [project]/src/components/embla/embla.module.scss.module.css [app-client] (css) */
.embla-module-scss-module__MpyzYW__embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 4);
  flex-direction: row-reverse;
  align-items: flex-end;
  max-width: 100%;
  margin: auto;
  display: flex !important;
}

.embla-module-scss-module__MpyzYW__embla__viewport {
  overflow: hidden;
}

.embla-module-scss-module__MpyzYW__embla__container {
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  box-sizing: content-box;
  gap: 1rem;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-left: 0 !important;
}

@media (width >= 750px) {
  .embla-module-scss-module__MpyzYW__embla__container {
    gap: 1rem;
    height: auto;
    margin-left: 0 !important;
  }
}

@media (width >= 1200px) {
  .embla-module-scss-module__MpyzYW__embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.embla-module-scss-module__MpyzYW__embla__slide {
  flex: none;
  min-width: 0;
  max-width: 300px;
  padding-left: 0 !important;
}

@media (width >= 750px) {
  .embla-module-scss-module__MpyzYW__embla__slide {
    flex: none;
    padding-left: 0 !important;
  }
}

@media (width >= 1200px) {
  .embla-module-scss-module__MpyzYW__embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.embla-module-scss-module__MpyzYW__embla__slide__number {
  box-shadow: inset 0 0 0 .2rem var(--detail-medium-contrast);
  user-select: none;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
}

.embla-module-scss-module__MpyzYW__embla__controls {
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
  display: grid;
}

.embla-module-scss-module__MpyzYW__embla__buttons {
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: .6rem;
  display: grid;
}

.embla-module-scss-module__MpyzYW__embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), .5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  cursor: pointer;
  box-shadow: inset 0 0 0 .2rem var(--detail-medium-contrast);
  z-index: 1;
  width: 3.6rem;
  color: var(--text-body);
  background-color: #0000;
  border: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.embla-module-scss-module__MpyzYW__embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla-module-scss-module__MpyzYW__embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla-module-scss-module__MpyzYW__embla__dots {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: -.6rem;
  display: flex;
}

.embla-module-scss-module__MpyzYW__embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), .5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #0000;
  border: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.embla-module-scss-module__MpyzYW__embla__dot:after {
  box-shadow: inset 0 0 0 .2rem var(--detail-medium-contrast);
  content: "";
  border-radius: 50%;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
}

.embla-module-scss-module__MpyzYW__embla__dot--selected:after {
  box-shadow: inset 0 0 0 .2rem var(--text-body);
}

@media (width <= 480px) {
  .embla-module-scss-module__MpyzYW__embla {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
}

.embla-module-scss-module__MpyzYW__embla__caption {
  text-align: center;
  color: #ccc;
  margin-top: 8px;
  font-size: 14px;
}

.embla-module-scss-module__MpyzYW__embla__slide__number {
  filter: grayscale();
  transition: filter .4s;
}

.embla-module-scss-module__MpyzYW__embla__slide__number:hover {
  filter: grayscale(0%);
}


/*# sourceMappingURL=src_aae184cd._.css.map*/