/* [project]/src/app/services/[slug]/service.scss.css [app-client] (css) */
.Startscreen {
  background-color: #1d1d1d;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 250px;
  display: flex;
}

.Startscreen > .content {
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 590px;
  display: flex;
}

.Startscreen > .content > .left {
  flex-direction: column;
  justify-content: space-between;
  height: 590px;
  padding-top: 100px;
  padding-left: calc(50% - 600px);
  padding-right: 24px;
  display: flex;
}

.Startscreen > .content > .left > .info {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.Startscreen > .content > .left > .info > h1 {
  color: #fff;
  font-family: Russo One;
  font-size: 64px;
  line-height: 100%;
}

.Startscreen > .content > .left > .info > p {
  color: silver;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
}

.Startscreen > .content > .left > button {
  color: #fff;
  background-color: #2b6eff;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 50px;
  font-size: 16px;
  display: flex;
}

.Startscreen > .content > .right {
  flex-grow: 0;
  flex-shrink: 0;
  width: 50%;
  height: 590px;
}

.Service > .calculator {
  background-color: #d0d0d0;
  justify-content: center;
  padding: 80px 0;
  display: flex;
}

.Service > .calculator > .content {
  flex-direction: column;
  gap: 16px;
  width: 1200px;
  display: flex;
}

.Service > .calculator > .content > h2 {
  color: #000;
  margin-bottom: 0;
  font-family: Russo One;
  font-size: 24px;
}

.Service > .calculator > .content > h3 {
  color: #000;
  margin-bottom: 16px;
  font-family: Russo One;
  font-size: 16px;
}

.Service > .calculator > .content > .send_request {
  color: #fff;
  cursor: pointer;
  background-color: #2b6eff;
  width: 230px;
  height: 45px;
  font-size: 16px;
  transition: all .2s;
}

.Service > .calculator > .content > .send_request:hover {
  opacity: 1;
}

.title_small {
  margin-left: 8px;
  font-size: 40px;
}

.images-wrapper {
  grid-row: 2;
  width: 100%;
  height: 100%;
  position: relative;
}

.images-wrapper__img {
  object-fit: cover;
  position: absolute;
  box-shadow: 0 4px 12px #0000004d;
}

.images-wrapper__img--small {
  z-index: 2;
  border: 11px solid #000;
  width: 350px;
  top: 20%;
  left: 15%;
}

.images-wrapper__img--large {
  z-index: 1;
  width: 480px;
  top: 35%;
  right: 30%;
}

.images-wrapper__subtitle {
  z-index: 3;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 25%;
  right: 120px;
}

.subtitle-top {
  color: silver;
  text-transform: uppercase;
  text-align: right;
  background-color: #000;
  margin: 0;
  font-size: 24px;
}

.subtitle-bottom {
  color: silver;
  text-transform: uppercase;
  background-color: #000;
  margin: 4px 0 0;
  font-size: 24px;
}

@media (width <= 1170px) {
  .images-wrapper__img--small {
    left: 8%;
  }

  .images-wrapper__img--large {
    right: 20%;
  }
}

.block_about_from_founder {
  background-color: #000;
  background-position: center;
  background-size: cover;
  height: auto;
  position: relative;
}

.description_about_block_founder {
  color: #fff;
  max-width: 660px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.row_1_description_photo {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 70px 120px;
  display: flex;
}

.row_2_description_photo {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 70px 120px;
  display: flex;
}

.hero_title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 120px;
  font-size: 48px;
  line-height: 103%;
}

.hero_title_small {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

@media (width <= 750px) {
  .images-wrapper__subtitle {
    display: none;
  }

  .images-wrapper__subtitle_mobile {
    color: silver;
    align-items: flex-end;
    height: 100%;
    font-size: 20px;
    display: flex;
  }

  .images-wrapper__img--small {
    width: 50%;
    margin-left: -11px;
    top: 10%;
    left: 0;
  }

  .images-wrapper__img--large {
    width: 80%;
    top: 30%;
    right: 15px;
  }

  .title_small, .hero_title {
    font-size: 20px;
  }

  .hero_title_small {
    font-size: 13px;
  }

  .row_1_description_photo {
    flex-direction: column-reverse;
    padding: 60px 15px;
  }

  .description_about_block_founder {
    font-size: 16px;
  }

  .row_2_description_photo {
    padding: 0 15px 80px;
  }
}

@media (width >= 1440px) {
  .images-wrapper__subtitle {
    right: 0;
  }
}

@media (width >= 750px) and (width <= 950px) {
  .images-wrapper__subtitle, .images-wrapper__img--large {
    right: 60px;
  }

  .images-wrapper__img--small {
    left: 0;
  }
}

@media (width >= 750px) {
  .images-wrapper__subtitle_mobile {
    display: none;
  }
}

@media screen and (width <= 1000px) {
  .Service > .Startscreen {
    padding: 80px 24px;
  }

  .Service > .Startscreen > .content {
    flex-direction: column;
    height: auto;
  }

  .Service > .Startscreen > .content > .left {
    gap: 24px;
    height: auto;
  }

  .Service > .Startscreen > .content > .right {
    display: none;
  }

  .Service > .calculator {
    padding: 24px;
  }
}

@media screen and (width <= 800px) {
  .Service > .Startscreen > .content > .left > .info > h1 {
    word-wrap: break-word;
    width: 100%;
    font-size: 36px;
  }
}


/* [project]/src/components/Header/Header.scss.css [app-client] (css) */
.Header {
  z-index: 100;
  backdrop-filter: blur(5px);
  background-color: #000000a6;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  display: flex;
  position: fixed;
}

.Header > .content {
  justify-content: space-between;
  width: 1200px;
  display: flex;
}

.Header > .content > .burger, .Header > .content > .logo {
  cursor: pointer;
}

.Header > .menu {
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  background-color: #000;
  justify-content: center;
  width: 100%;
  transition: all .3s;
  display: flex;
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.Header > .menu.opened {
  height: 100vh;
  transform: translateX(0);
}

.Header > .menu.closed {
  transform: translateX(-100%);
}

.Header > .menu > .content {
  flex-direction: column;
  gap: 64px;
  width: 1200px;
  padding-top: 34px;
  display: flex;
}

.Header > .menu > .content > img.cross {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.Header > .menu > .content > .links {
  gap: 64px;
  display: flex;
}

.Header > .menu > .content > .links > .linksCol {
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  display: flex;
}

.Header > .menu > .content > .links > .linksCol > a.linkSmall {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all .2s;
}

.Header > .menu > .content > .links > .linksCol > a.linkSmall:hover {
  opacity: .5;
}

.Header > .menu > .content > .links > .linksCol > a.linkTitle {
  color: silver;
  font-family: Russo One;
  font-size: 24px;
  font-weight: 400;
  transition: all .2s;
}

.Header > .menu > .content > .links > .linksCol > a.linkTitle:hover {
  color: #fff;
}

.Header > .menu > .content > .buttons {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.Header > .menu > .content > .buttons > a {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 45px;
  display: flex;
}

.Header > .menu > .content > .buttons > a.calcButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 500;
}

.Header > .menu > .content > .buttons > a.formButton {
  color: #fff9;
  background-color: #0000;
  border: 1px solid #fff9;
  font-size: 16px;
  font-weight: 500;
}

.Header > .menu > .content > img.logo {
  width: 183px;
  height: 25px;
}

@media screen and (width <= 1200px) {
  .Header > .content {
    width: 100%;
    padding: 0 24px;
  }

  .Header > .menu > .content {
    width: 100%;
    padding: 34px 24px 0;
  }
}

@media screen and (width <= 664px) {
  .Header > .menu > .content {
    justify-content: space-between;
    gap: 0;
  }

  .Header > .menu > .content > img.logo {
    margin-bottom: 24px;
  }

  .Header > .menu > .content > .links {
    flex-direction: column;
    gap: 24px;
  }

  .Header > .menu > .content > .links > .linksCol {
    gap: 12px;
    width: 100%;
  }

  .Header > .menu > .content > .links > .linksCol > a.linkTitle {
    font-size: 20px !important;
  }

  .Header > .menu > .content > .links > .linksCol > a.linkSmall {
    font-size: 15px !important;
  }

  .Header > .menu > .content > .buttons > a {
    width: 100%;
  }
}

@media screen and (width <= 450px) {
  .Header > .content > a {
    display: none;
  }
}


/* [project]/src/app/contacts/contacts.scss.css [app-client] (css) */
input {
  color: #fff;
  background-color: #0000 !important;
}

input::placeholder {
  color: #ffffff80;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  background-color: #0000 !important;
  transition: background-color 5000s ease-in-out !important;
  -webkit-box-shadow: inset 0 0 0 1000px #0000 !important;
  box-shadow: inset 0 0 0 1000px #0000 !important;
}

.Contacts {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media screen and (width <= 1050px) {
  .bg-image {
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  .right-blur-overlay {
    backdrop-filter: blur(10px);
    z-index: 1;
    will-change: backdrop-filter;
    pointer-events: none;
    background-color: #0006;
    height: 100%;
    position: absolute;
    transform: translateZ(0);
    width: 100% !important;
  }
}

.bg-image {
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.right-blur-overlay {
  backdrop-filter: blur(10px);
  z-index: 1;
  will-change: backdrop-filter;
  pointer-events: none;
  background-color: #0006;
  width: 405px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateZ(0);
}

.ContactFormSection {
  z-index: 2;
  padding: 120px 0 0 120px;
  position: relative;
}

@media screen and (width <= 740px) {
  .Contacts {
    height: auto;
    min-height: 100vh;
  }

  .ContactFormSection {
    max-width: 500px;
    margin: 80px auto;
    padding: 15px;
  }
}

.yandex_map {
  background-color: #d0d0d0;
  background-position: center;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

@media screen and (width <= 500px) {
  .ContactFormSection {
    max-width: 470px;
    margin: 80px auto;
    padding: 15px;
  }

  .form-label-1 {
    display: none;
  }

  .form-label {
    font-size: 12px;
  }

  .form-datetime {
    width: 100% !important;
  }
}

.form {
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  font-family: Russo One, sans-serif;
  display: flex;
}

.form-row {
  border: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.form-label, .form-label-1 {
  color: #fff;
  text-transform: uppercase;
  width: 183px;
  padding-left: 15px;
  font-size: 14px;
}

.form-input {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  width: 305px;
  padding: 10px;
  font-family: inherit;
}

.form-input::placeholder {
  color: #ffffff80;
}

.form-input:-webkit-autofill {
  transition: background-color 100000s ease-in-out;
  -webkit-text-fill-color: #fff !important;
  background: none !important;
}

.form-datetime {
  width: 305px;
  display: flex;
}

.form-button {
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 12px;
  font-weight: bold;
  transition: background .3s;
}

.form-button:hover {
  background-color: #e0e0e0;
}

.contacts-info {
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 500px;
  margin-top: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: grid;
}

.contacts-info-block {
  background-color: #ffffff0d;
  border: 1px solid #ffffff4d;
  padding: 16px;
}

.title-contacts-info {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  font-family: Russo One, sans-serif;
  font-size: 16px;
}

.contacts-info-block p {
  margin: 0;
}

input[type="date"], input[type="time"] {
  color-scheme: dark;
}


/* [project]/src/app/services/[slug]/ImageBlock.scss.css [app-client] (css) */
.ImageBlock {
  width: 100%;
  height: 100%;
  position: relative;
}

.ImageBlock.placeholder {
  background: #f0f0f0;
}

.ImageBlock__overlay {
  pointer-events: none;
  width: 345px;
  height: 233px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

@media screen and (width <= 1000px) {
  .ImageBlock {
    display: none;
  }
}


/*# sourceMappingURL=src_cf545365._.css.map*/