/* [project]/src/app/services/services.scss.css [app-client] (css) */
.Startscreen {
  background-image: url("/images/bg_startscreen_services.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 120px;
  display: flex;
  position: relative;
}

.title {
  justify-content: space-around;
  padding-top: 120px;
  font-size: 96px;
  display: flex;
}

.calculate_cost {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  width: 230px;
  height: 45px;
  font-family: Helvetica;
  font-size: 16px;
  transition: all .2s;
}

.calculate_cost:hover {
  color: #fff;
  background-color: #242424;
}

.buttons {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.send_request {
  color: #fff;
  opacity: .6;
  cursor: pointer;
  border: 1px solid #fff;
  width: 230px;
  height: 45px;
  font-family: Helvetica;
  font-size: 16px;
  transition: all .2s;
}

.send_request:hover {
  opacity: 1;
}

.button_menu {
  color: gray;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #242424;
  padding: 14px 32px;
  font-size: 20px;
  transition: all .5s;
}

.button_menu_active {
  color: #fff;
  text-transform: uppercase;
  background-color: #2b6eff;
  padding: 14px 32px;
  font-size: 20px;
}

.buttons_container {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  width: auto;
  padding: 80px 120px 30px;
  display: flex;
}

.services_container {
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 120px 120px;
  display: flex;
}

.services_container > .service {
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 380px;
  justify-content: center;
  align-items: center;
  min-width: 380px;
  height: 200px;
  padding: 24px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.services_container > .service:after {
  content: "";
  z-index: 0;
  background: #0009;
  position: absolute;
  inset: 0;
}

.services_container > .service:before {
  content: "";
  z-index: 1;
  background: #fff6;
  width: 0%;
  height: 100%;
  transition: width .3s;
  position: absolute;
  top: 0;
  left: 0;
}

.services_container > .service:hover:before {
  width: 100%;
}

.services_container > .service > span {
  z-index: 2;
  color: #fff;
  text-align: center;
  font-size: 24px;
  position: relative;
}

.hero_title {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding-top: 120px;
  font-size: 48px;
  line-height: 103%;
}

.hero_title.white {
  color: #fff !important;
}

.hero_title_small {
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
}

.hero_title_small.white {
  color: #fff !important;
}

.block_about_services {
  background-color: #d0d0d0;
  background-position: center;
  background-size: cover;
  height: auto;
  position: relative;
}

.description_about_block_founder {
  color: #000;
  max-width: 660px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.row_1_description_photo {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 70px 120px;
  display: flex;
}

.row_2_description_photo {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 70px 120px;
  display: flex;
}

@media (width <= 1170px) {
  .buttons_container {
    padding: 60px 24px 30px;
  }

  .services_container {
    padding: 0 24px 30px;
  }

  .startscreen_text {
    padding-top: 60px;
  }

  .block_title {
    margin-left: 60px;
  }

  .slider {
    padding: 120px 0 60px 60px;
  }

  .block_about {
    padding: 120px 60px 80px;
  }

  .block_assets_about {
    flex-wrap: wrap;
    padding: 20px 60px;
  }

  .row_1_description_photo {
    padding: 70px 60px;
  }

  .row_2_description_photo {
    flex-direction: column-reverse;
    padding: 70px 60px;
  }

  .slider2 {
    padding: 0 0 120px 60px;
  }

  .team_title {
    padding: 120px 0 60px 60px;
  }

  .photo_worker {
    width: 50%;
  }

  .signature {
    margin-top: 0;
  }
}

@media (width <= 1047px) {
  .startscreen_text {
    row-gap: 20px;
  }
}

@media (width <= 930px) {
  .block_about_photo_text {
    flex-direction: column;
  }

  .text_block_about, .block_about_photo_text img {
    width: 100%;
  }
}

@media (width <= 480px) {
  .block_about_services {
    width: auto;
    padding-right: 15px;
    display: block;
  }

  .hero_title {
    font-size: 20px;
  }

  .hero_title_small {
    font-size: 13px;
  }

  .row_1_description_photo {
    flex-direction: column-reverse;
    padding: 60px 15px;
  }

  .description_about_block_founder {
    font-size: 16px;
  }

  .row_2_description_photo {
    padding: 0 15px 60px;
  }

  .title {
    justify-content: flex-start;
    width: 100%;
    padding-left: 15px;
    font-size: 32px;
    display: flex;
  }

  .services_container {
    padding: 0 15px 30px;
  }

  .button_menu {
    padding: 9px 15px;
    font-size: 14px;
  }

  .buttons_container {
    padding: 45px 15px 30px;
  }

  .Startscreen {
    height: 75vh;
    padding-bottom: 45px;
  }
}

/*# sourceMappingURL=src_app_services_services_scss_css_f9ee138c._.single.css.map*/