/* [project]/src/components/Header/Header.scss.css [app-client] (css) */
.Header {
  z-index: 100;
  backdrop-filter: blur(5px);
  background-color: #000000a6;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  display: flex;
  position: fixed;
}

.Header > .content {
  justify-content: space-between;
  width: 1200px;
  display: flex;
}

.Header > .content > .burger, .Header > .content > .logo {
  cursor: pointer;
}

.Header > .menu {
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  background-color: #000;
  justify-content: center;
  width: 100%;
  transition: all .3s;
  display: flex;
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.Header > .menu.opened {
  height: 100vh;
  transform: translateX(0);
}

.Header > .menu.closed {
  transform: translateX(-100%);
}

.Header > .menu > .content {
  flex-direction: column;
  gap: 64px;
  width: 1200px;
  padding-top: 34px;
  display: flex;
}

.Header > .menu > .content > img.cross {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.Header > .menu > .content > .links {
  gap: 64px;
  display: flex;
}

.Header > .menu > .content > .links > .linksCol {
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  display: flex;
}

.Header > .menu > .content > .links > .linksCol > a.linkSmall {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all .2s;
}

.Header > .menu > .content > .links > .linksCol > a.linkSmall:hover {
  opacity: .5;
}

.Header > .menu > .content > .links > .linksCol > a.linkTitle {
  color: silver;
  font-family: Russo One;
  font-size: 24px;
  font-weight: 400;
  transition: all .2s;
}

.Header > .menu > .content > .links > .linksCol > a.linkTitle:hover {
  color: #fff;
}

.Header > .menu > .content > .buttons {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.Header > .menu > .content > .buttons > a {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 45px;
  display: flex;
}

.Header > .menu > .content > .buttons > a.calcButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 500;
}

.Header > .menu > .content > .buttons > a.formButton {
  color: #fff9;
  background-color: #0000;
  border: 1px solid #fff9;
  font-size: 16px;
  font-weight: 500;
}

.Header > .menu > .content > img.logo {
  width: 183px;
  height: 25px;
}

@media screen and (width <= 1200px) {
  .Header > .content {
    width: 100%;
    padding: 0 24px;
  }

  .Header > .menu > .content {
    width: 100%;
    padding: 34px 24px 0;
  }
}

@media screen and (width <= 664px) {
  .Header > .menu > .content {
    gap: 24px;
    padding: 64px 24px 80px;
    position: relative;
    overflow-y: scroll;
  }

  .Header > .menu > .content > img.logo {
    margin-bottom: 24px;
  }

  .Header > .menu > .content > img.cross {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .Header > .menu > .content > .links {
    flex-direction: column;
    gap: 24px;
  }

  .Header > .menu > .content > .links > .linksCol {
    gap: 12px;
    width: 100%;
  }

  .Header > .menu > .content > .links > .linksCol > a.linkTitle {
    font-size: 20px !important;
  }

  .Header > .menu > .content > .links > .linksCol > a.linkSmall {
    font-size: 15px !important;
  }

  .Header > .menu > .content > .buttons > a {
    width: 100%;
  }

  .Header > .menu > .content > .buttons > a.phone_link {
    justify-content: flex-start;
    display: flex;
  }
}

@media screen and (width <= 450px) {
  .Header > .content > a.logo {
    display: none;
  }
}


/* [project]/src/styles/mainPage.scss.css [app-client] (css) */
.Home {
  flex-direction: column;
  display: flex;
}

.Home > .startscreen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  height: 100vh;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.Home > .startscreen:before {
  content: "";
  opacity: 0;
  z-index: -1;
  background: url("/images/mainBG.png") center / contain no-repeat;
  animation: 5s forwards bgFade;
  position: absolute;
  inset: 0;
}

.Home > .startscreen > .firstRow {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 1200px;
  animation: 2s forwards showMainButtons;
  display: flex;
}

.Home > .startscreen > .firstRow > .buttons {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.Home > .startscreen > .secondRow {
  justify-content: flex-end;
  width: 1200px;
  animation: 2s forwards showMainText;
  display: flex;
}

.Home > .startscreen > .secondRow > p {
  text-align: right;
  color: silver;
  text-transform: uppercase;
  max-width: 534px;
  font-family: Russo One;
  font-size: 24px;
  line-height: 103%;
}

.Home > .blackInfo {
  background-color: #000;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
}

.Home > .blackInfo > .content {
  flex-direction: column;
  gap: 124px;
  width: 1200px;
  display: flex;
}

.Home > .blackInfo > .content > h2 {
  color: #fff;
  text-align: center;
  font-size: 48px;
}

.Home > .blackInfo > .content > h2 > span {
  font-size: 24px;
}

.Home > .blackInfo > .content > .row {
  align-items: center;
  gap: 120px;
  display: flex;
}

.Home > .blackInfo > .content > .row > img {
  flex-shrink: 0;
}

.Home > .blackInfo > .content > .row > .textBlock {
  flex-direction: column;
  gap: 30px;
  display: flex;
}

.Home > .blackInfo > .content > .row > .textBlock > h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 103%;
}

.Home > .blackInfo > .content > .row > .textBlock > p {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
}

.Home > .blackInfo > .content > .row.row1 > .textBlock {
  width: 528px;
}

.Home > .blackInfo > .content > .row.row2 {
  justify-content: flex-end;
}

.Home > .blackInfo > .content > .row.row2 > .textBlock {
  width: 387px;
}

.Home > .blackInfo > .content > .row.row3 > .textBlock {
  width: 488px;
}

.Home .numbersBlock {
  background-color: #d0d0d0;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.Home .numbersBlock > .content {
  flex-direction: column;
  gap: 80px;
  width: 1200px;
  padding: 80px 0;
  display: flex;
}

.Home .numbersBlock > .content > .row1 {
  justify-content: space-between;
  padding-left: 80px;
  display: flex;
}

.Home .numbersBlock > .content > .row1 > .block1 {
  position: relative;
}

.Home .numbersBlock > .content > .row1 > .block1 > span {
  color: #000;
  font-size: 20px;
  position: absolute;
  bottom: 1px;
  left: 45px;
}

.Home .numbersBlock > .content > .row1 > .block2 {
  align-items: flex-end;
  display: flex;
}

.Home .numbersBlock > .content > .row1 > .block2 > span {
  text-wrap: nowrap;
  color: #000;
  font-size: 20px;
}

.Home .numbersBlock > .content > .row1 > .block2 > span > a {
  transition: all .2s;
}

.Home .numbersBlock > .content > .row1 > .block2 > span > a:hover {
  color: #2b6eff;
}

.Home .numbersBlock > .content > .row2 {
  justify-content: space-between;
  padding-right: 80px;
  display: flex;
}

.Home .numbersBlock > .content > .row2 > .block3 {
  position: relative;
}

.Home .numbersBlock > .content > .row2 > .block3 > span {
  color: #000;
  text-wrap: nowrap;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Home .numbersBlock > .content > .row2 > .block4 {
  position: relative;
}

.Home .numbersBlock > .content > .row2 > .block4 > span {
  color: #000;
  text-wrap: nowrap;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Home > .topServices {
  background-color: #000;
  justify-content: center;
  display: flex;
}

.Home > .topServices > .content {
  flex-direction: column;
  gap: 60px;
  width: 1200px;
  padding: 120px 0;
  display: flex;
}

.Home > .topServices > .content > .remont {
  gap: 24px;
  display: flex;
}

.Home > .topServices > .content > .remont > .block {
  box-sizing: border-box;
  cursor: pointer;
  background-color: #2e2e2e;
  width: 50%;
  min-height: 150px;
  padding: 24px;
  transition: all .3s;
}

.Home > .topServices > .content > .remont > .block:hover {
  background-color: #656565;
}

.Home > .topServices > .content > .remont > .block > h3 {
  color: #fff;
  font-size: 24px;
}

.Home > .topServices > .content > h2 {
  color: #656565;
  text-align: center;
  text-transform: capitalize;
  font-size: 131px;
}

.Home > .topServices > .content > .infoBlock {
  justify-content: space-between;
  display: flex;
}

.Home > .topServices > .content > .infoBlock > h3 {
  color: #fff;
  text-transform: uppercase;
  width: 474px;
  font-size: 24px;
  line-height: 103%;
}

.Home > .topServices > .content > .infoBlock > p {
  width: 488px;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 130%;
}

.Home > .topServices > .content > .infoBlock > p > a {
  color: #fff;
  opacity: 1;
  background-color: #2b6eff;
  padding: 2px 6px;
  font-weight: 700;
  transition: all .2s;
}

.Home > .topServices > .content > .infoBlock > p > a:hover {
  opacity: .7;
}

.Home > .topServices > .content > .rows {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.Home > .topServices > .content > .rows > .row {
  justify-content: space-between;
  align-items: center;
  height: 192px;
  padding: 0 60px;
  transition: all .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.Home > .topServices > .content > .rows > .row:before {
  content: "";
  z-index: 0;
  background: #fff3;
  width: 0%;
  height: 100%;
  transition: width .3s;
  position: absolute;
  top: 0;
  left: 0;
}

.Home > .topServices > .content > .rows > .row:hover:before {
  width: 100%;
}

.Home > .topServices > .content > .rows > .row > * {
  z-index: 1;
  position: relative;
}

.Home > .topServices > .content > .rows > .row > span.num {
  text-transform: uppercase;
  color: #707070;
  flex-shrink: 0;
  width: 30px;
  font-family: Russo One;
  font-size: 24px;
}

.Home > .topServices > .content > .rows > .row > span.name {
  color: #fff;
  text-transform: uppercase;
  text-align: start;
  width: 320px;
  font-family: Russo One;
  font-size: 24px;
  line-height: 103%;
}

.Home > .topServices > .content > .rows > .row > p {
  color: #fff;
  width: 430px;
  font-family: Helvetica;
  font-size: 16px;
}

.Home > .topServices > .content > .rows > .row > img {
  cursor: pointer;
  flex-shrink: 0;
}

.Home > .topServices > .content > .rows > .row1 {
  background-image: url("../media/serviceBG1.5d0b23ba.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home > .topServices > .content > .rows > .row2 {
  background-image: url("../media/serviceBG2.319ce037.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home > .topServices > .content > .rows > .row3 {
  background-image: url("../media/serviceBG3.90138101.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (width <= 1250px) {
  .Home > .startscreen > .firstRow {
    width: 100%;
    padding-left: 25px;
  }

  .Home > .startscreen > .secondRow {
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;
    display: flex;
  }

  .Home > .blackInfo > .content {
    width: 100%;
  }

  .Home > .blackInfo > .content > .row {
    gap: 60px;
    padding: 0 25px;
  }

  .Home > .blackInfo > .content > .row > .textBlock {
    gap: 30px;
  }

  .Home .numbersBlock > .content {
    flex-direction: column;
    gap: 80px;
    width: 100%;
    padding: 80px 0;
    display: flex;
  }

  .Home .numbersBlock > .content > .row1 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Home .numbersBlock > .content > .row1 > .block1 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a {
    transition: all .2s;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a:hover {
    color: #2b6eff;
  }

  .Home .numbersBlock > .content > .row2 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home .numbersBlock > .content > .row2 > .block3 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block3 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home .numbersBlock > .content > .row2 > .block4 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block4 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home > .topServices {
    background-color: #000;
    justify-content: center;
    display: flex;
  }

  .Home > .topServices > .content {
    flex-direction: column;
    gap: 60px;
    width: 100%;
    padding: 120px 0;
    display: flex;
  }

  .Home > .topServices > .content > .remont {
    padding: 0 24px;
  }

  .Home > .topServices > .content > h2 {
    color: #656565;
    text-align: center;
    text-transform: capitalize;
    font-size: 90px;
  }

  .Home > .topServices > .content > .infoBlock {
    justify-content: space-between;
    display: flex;
  }

  .Home > .topServices > .content > .infoBlock > h3 {
    color: #fff;
    text-transform: uppercase;
    width: 474px;
    padding-left: 25px;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .infoBlock > p {
    width: 350px;
    padding-right: 25px;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 130%;
  }

  .Home > .topServices > .content > .infoBlock > p > a {
    color: #fff;
    opacity: 1;
    background-color: #2b6eff;
    padding: 2px 6px;
    font-weight: 700;
    transition: all .2s;
  }

  .Home > .topServices > .content > .infoBlock > p > a:hover {
    opacity: .7;
  }

  .Home > .topServices > .content > .rows {
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row {
    justify-content: space-between;
    align-items: center;
    height: 192px;
    padding: 0 25px;
    transition: all .3s;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .Home > .topServices > .content > .rows > .row:before {
    content: "";
    z-index: 0;
    background: #fff3;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Home > .topServices > .content > .rows > .row:hover:before {
    width: 100%;
  }

  .Home > .topServices > .content > .rows > .row > * {
    z-index: 1;
    position: relative;
  }

  .Home > .topServices > .content > .rows > .row > span.num {
    text-transform: uppercase;
    color: #707070;
    flex-shrink: 0;
    width: 30px;
    font-family: Russo One;
    font-size: 24px;
  }

  .Home > .topServices > .content > .rows > .row > span.name {
    color: #fff;
    text-transform: uppercase;
    text-align: start;
    width: 320px;
    font-family: Russo One;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .rows > .row > p {
    color: #fff;
    width: 430px;
    font-family: Helvetica;
    font-size: 16px;
  }

  .Home > .topServices > .content > .rows > .row > img {
    cursor: pointer;
    flex-shrink: 0;
  }

  .Home > .topServices > .content > .rows > .row1 {
    background-image: url("../media/serviceBG1.5d0b23ba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
  }

  .Home > .topServices > .content > .rows > .row2 {
    background-image: url("../media/serviceBG2.319ce037.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
  }

  .Home > .topServices > .content > .rows > .row3 {
    background-image: url("../media/serviceBG3.90138101.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
  }
}

@media screen and (width <= 900px) {
  .Home > .startscreen > .firstRow {
    width: 100%;
    padding-left: 25px;
  }

  .Home > .startscreen > .secondRow {
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;
    display: flex;
  }

  .Home > .blackInfo > .content {
    width: 100%;
  }

  .Home > .blackInfo > .content > h2 {
    font-size: 40px;
  }

  .Home > .blackInfo > .content > .row {
    flex-wrap: wrap;
    gap: 60px;
    padding: 0 25px;
  }

  .Home > .blackInfo > .content > .row > .textBlock {
    gap: 30px;
  }

  .Home .numbersBlock > .content {
    flex-direction: column;
    gap: 80px;
    width: 100%;
    padding: 80px 0;
    display: flex;
  }

  .Home .numbersBlock > .content > .row1 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Home .numbersBlock > .content > .row1 > .block1 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span {
    color: #2b6eff;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a {
    transition: all .2s;
  }

  .Home .numbersBlock > .content > .row2 {
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
    display: flex;
  }

  .Home .numbersBlock > .content > .row2 > .block3 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block3 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home .numbersBlock > .content > .row2 > .block4 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block4 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home > .topServices {
    background-color: #000;
    justify-content: center;
    display: flex;
  }

  .Home > .topServices > .content {
    flex-direction: column;
    gap: 60px;
    width: 100%;
    padding: 120px 0;
    display: flex;
  }

  .Home > .topServices > .content > .remont {
    flex-direction: column;
  }

  .Home > .topServices > .content > .remont > .block {
    width: 100%;
  }

  .Home > .topServices > .content > h2 {
    color: #656565;
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
  }

  .Home > .topServices > .content > .infoBlock {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    display: flex;
  }

  .Home > .topServices > .content > .infoBlock > h3 {
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    padding-left: 25px;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .infoBlock > p {
    width: 90%;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 130%;
  }

  .Home > .topServices > .content > .infoBlock > p > a {
    color: #fff;
    opacity: 1;
    background-color: #2b6eff;
    padding: 2px 6px;
    font-weight: 700;
    transition: all .2s;
  }

  .Home > .topServices > .content > .infoBlock > p > a:hover {
    opacity: .7;
  }

  .Home > .topServices > .content > .rows {
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row {
    justify-content: space-between;
    align-items: center;
    height: 192px;
    padding: 0 25px;
    transition: all .3s;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .Home > .topServices > .content > .rows > .row:before {
    content: "";
    z-index: 0;
    background: #fff3;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Home > .topServices > .content > .rows > .row:hover:before {
    width: 100%;
  }

  .Home > .topServices > .content > .rows > .row > * {
    z-index: 1;
    position: relative;
  }

  .Home > .topServices > .content > .rows > .row > span.num {
    display: none;
  }

  .Home > .topServices > .content > .rows > .row > span.name {
    color: #fff;
    text-transform: uppercase;
    text-align: start;
    width: 320px;
    font-family: Russo One;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .rows > .row > p {
    color: #fff;
    width: 90%;
    font-family: Helvetica;
    font-size: 16px;
  }

  .Home > .topServices > .content > .rows > .row > img {
    cursor: pointer;
    flex-shrink: 0;
  }

  .Home > .topServices > .content > .rows > .row1 {
    background-image: url("../media/serviceBG1.5d0b23ba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row2 {
    background-image: url("../media/serviceBG2.319ce037.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row3 {
    background-image: url("../media/serviceBG3.90138101.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
}

@media screen and (width <= 600px) {
  .Home > .startscreen {
    background-position: 50% 180px;
    background-size: 160%;
    overflow: hidden;
  }

  .Home > .startscreen > .firstRow {
    width: 100%;
    padding-left: 15px;
  }

  .Home > .startscreen > .secondRow {
    justify-content: flex-end;
    width: 100%;
    padding-right: 25px;
    display: flex;
  }

  .Home > .startscreen > .secondRow > p {
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
  }

  .Home > .blackInfo > .content {
    gap: 50px;
    width: 100%;
  }

  .Home > .blackInfo > .content > h2 {
    font-size: 20px;
  }

  .Home > .blackInfo > .content > h2 > span {
    font-size: 13px;
  }

  .Home > .blackInfo > .content > .row {
    flex-wrap: wrap;
    gap: 60px;
    padding: 0 25px;
  }

  .Home > .blackInfo > .content > .row > img {
    width: 100%;
  }

  .Home > .blackInfo > .content > .row > .textBlock {
    gap: 30px;
  }

  .Home > .blackInfo > .content > .row > .textBlock > h3 {
    font-size: 20px;
  }

  .Home > .blackInfo > .content > .row > .textBlock > p {
    font-size: 16px;
  }

  .Home > .blackInfo > .content > .row.row3 {
    flex-direction: column-reverse;
    display: flex;
  }

  .Home > .blackInfo > .content > .row.row3 > .textBlock {
    width: auto;
  }

  .Home .numbersBlock > .content {
    flex-direction: column;
    gap: 80px;
    width: 100%;
    padding: 80px 0;
    display: flex;
  }

  .Home .numbersBlock > .content > .row1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .Home .numbersBlock > .content > .row1 > .block1 {
    align-items: flex-start;
    display: flex;
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    position: relative;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span {
    color: #2b6eff;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .Home .numbersBlock > .content > .row1 > .block2 > span > a {
    transition: all .2s;
  }

  .Home .numbersBlock > .content > .row2 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .Home .numbersBlock > .content > .row2 > .block3 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block3 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home .numbersBlock > .content > .row2 > .block4 {
    position: relative;
  }

  .Home .numbersBlock > .content > .row2 > .block4 > span {
    color: #000;
    text-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Home > .topServices {
    background-color: #000;
    justify-content: center;
    display: flex;
  }

  .Home > .topServices > .content {
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 120px 0;
    display: flex;
  }

  .Home > .topServices > .content > h2 {
    color: #656565;
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
  }

  .Home > .topServices > .content > .infoBlock {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding: 0 24px;
    display: flex;
  }

  .Home > .topServices > .content > .infoBlock > h3 {
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
    font-size: 20px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .infoBlock > p {
    width: 100%;
    padding: 0;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 130%;
  }

  .Home > .topServices > .content > .infoBlock > p > a {
    color: #fff;
    opacity: 1;
    background-color: #2b6eff;
    padding: 2px 6px;
    font-weight: 700;
    transition: all .2s;
  }

  .Home > .topServices > .content > .infoBlock > p > a:hover {
    opacity: .7;
  }

  .Home > .topServices > .content > .rows {
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row {
    justify-content: space-between;
    align-items: center;
    height: 192px;
    padding: 0 24px;
    transition: all .3s;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .Home > .topServices > .content > .rows > .row:before {
    content: "";
    z-index: 0;
    background: #fff3;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Home > .topServices > .content > .rows > .row:hover:before {
    width: 100%;
  }

  .Home > .topServices > .content > .rows > .row > * {
    z-index: 1;
    position: relative;
  }

  .Home > .topServices > .content > .rows > .row > span.num {
    display: none;
  }

  .Home > .topServices > .content > .rows > .row > span.name {
    color: #fff;
    text-transform: uppercase;
    text-align: start;
    width: 100%;
    font-family: Russo One;
    font-size: 24px;
    line-height: 103%;
  }

  .Home > .topServices > .content > .rows > .row > p {
    color: #fff;
    width: 100%;
    font-family: Helvetica;
    font-size: 16px;
  }

  .Home > .topServices > .content > .rows > .row > img {
    cursor: pointer;
    flex-shrink: 0;
  }

  .Home > .topServices > .content > .rows > .row1 {
    background-image: url("../media/serviceBG1.5d0b23ba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row2 {
    background-image: url("../media/serviceBG2.319ce037.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  .Home > .topServices > .content > .rows > .row3 {
    background-image: url("../media/serviceBG3.90138101.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
}

@keyframes showMainButtons {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  50% {
    opacity: .5;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes showMainText {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  50% {
    opacity: .5;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes bgFade {
  to {
    opacity: 1;
  }
}

@media screen and (width <= 500px) {
  .Home > .startscreen:before {
    background: url("/images/mainBG.png") top / 190% no-repeat;
  }
}


/* [project]/src/app/contacts/contacts.scss.css [app-client] (css) */
input {
  color: #fff;
  background-color: #0000 !important;
}

input::placeholder {
  color: #ffffff80;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  background-color: #0000 !important;
  transition: background-color 5000s ease-in-out !important;
  -webkit-box-shadow: inset 0 0 0 1000px #0000 !important;
  box-shadow: inset 0 0 0 1000px #0000 !important;
}

.Contacts {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media screen and (width <= 1050px) {
  .bg-image {
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  .right-blur-overlay {
    backdrop-filter: blur(10px);
    z-index: 1;
    will-change: backdrop-filter;
    pointer-events: none;
    background-color: #0006;
    height: 100%;
    position: absolute;
    transform: translateZ(0);
    width: 100% !important;
  }
}

.bg-image {
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.right-blur-overlay {
  backdrop-filter: blur(10px);
  z-index: 1;
  will-change: backdrop-filter;
  pointer-events: none;
  background-color: #0006;
  width: 405px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateZ(0);
}

.ContactFormSection {
  z-index: 2;
  padding: 120px 0 0 120px;
  position: relative;
}

@media screen and (width <= 740px) {
  .Contacts {
    height: auto;
    min-height: 100vh;
  }

  .ContactFormSection {
    max-width: 500px;
    margin: 80px auto;
    padding: 15px;
  }
}

.yandex_map {
  background-color: #d0d0d0;
  background-position: center;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

@media screen and (width <= 500px) {
  .ContactFormSection {
    max-width: 470px;
    margin: 80px auto;
    padding: 15px;
  }

  .form-label-1 {
    display: none;
  }

  .form-label {
    font-size: 12px;
  }

  .form-datetime {
    width: 100% !important;
  }
}

.form {
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  font-family: Russo One, sans-serif;
  display: flex;
}

.form-row {
  border: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.form-label, .form-label-1 {
  color: #fff;
  text-transform: uppercase;
  width: 183px;
  padding-left: 15px;
  font-size: 14px;
}

.form-input {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  width: 305px;
  padding: 10px;
  font-family: inherit;
}

.form-input::placeholder {
  color: #ffffff80;
}

.form-input:-webkit-autofill {
  transition: background-color 100000s ease-in-out;
  -webkit-text-fill-color: #fff !important;
  background: none !important;
}

.form-datetime {
  width: 305px;
  display: flex;
}

.form-button {
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 12px;
  font-weight: bold;
  transition: background .3s;
}

.form-button:hover {
  background-color: #e0e0e0;
}

.contacts-info {
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 500px;
  margin-top: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: grid;
}

.contacts-info-block {
  background-color: #ffffff0d;
  border: 1px solid #ffffff4d;
  padding: 16px;
}

.title-contacts-info {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  font-family: Russo One, sans-serif;
  font-size: 16px;
}

.contacts-info-block p {
  margin: 0;
}

input[type="date"], input[type="time"] {
  color-scheme: dark;
}


/* [project]/src/components/Calculator/Calculator.scss.css [app-client] (css) */
.Calculator {
  background-color: #d0d0d0;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
}

.Calculator > .choose_model {
  border-bottom: 1px solid #fff;
  flex-direction: column;
  gap: 28px;
  width: 1200px;
  padding-bottom: 12px;
  display: flex;
}

.Calculator > .choose_model > .title_row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.Calculator > .choose_model > .title_row > h2 {
  color: #262626;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Russo One;
  font-size: 24px;
}

.Calculator > .choose_model > .title_row > h2 > span {
  color: #2b6eff;
}

.Calculator > .choose_model > .title_row > a, .Calculator > .choose_model > .title_row span {
  text-transform: uppercase;
  font-family: Russo One;
  font-size: 24px;
}

.Calculator > .choose_model > .title_row > a.red, .Calculator > .choose_model > .title_row span.red {
  color: #bd001f;
}

.Calculator > .choose_model > .title_row > a.black, .Calculator > .choose_model > .title_row span.black {
  color: #000;
  transition: all .3s;
}

.Calculator > .choose_model > .title_row > a.black:hover, .Calculator > .choose_model > .title_row span.black:hover {
  opacity: 1;
}

.Calculator > .choose_model > .title_row > a {
  opacity: .5;
}

.Calculator > .choose_model > .buttons {
  gap: 10px;
  display: flex;
}

.Calculator > .choose_model > .buttons > button {
  color: #262626;
  cursor: pointer;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 32px;
  font-family: Russo One;
  font-size: 24px;
  transition: all .2s;
  display: flex;
}

.Calculator > .choose_model > .buttons > button.selected {
  color: #fff;
  background-color: #2b6eff;
}

.Calculator > .choose_car_block {
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 287px;
  margin-bottom: 80px;
  padding-left: calc(50% - 600px);
  display: flex;
  overflow-y: scroll;
}

.Calculator > .choose_car_block::-webkit-scrollbar {
  display: none;
}

.Calculator > .choose_car_block > .block {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-end;
  width: 275px;
  height: 175px;
  transition: all .3s;
  display: flex;
}

.Calculator > .choose_car_block > .block > span {
  color: #262626;
  font-size: 20px;
}

.Calculator > .choose_car_block > .block.selected {
  width: 473px;
  height: 287px;
}

.Calculator > .choose_special_model {
  justify-content: space-between;
  width: 1200px;
  margin-bottom: 80px;
  display: flex;
}

.Calculator > .choose_special_model > .model-select {
  background: none;
  width: 100%;
  max-width: none;
  height: 56px;
  font-family: sans-serif;
  display: flex;
  overflow: hidden;
}

.Calculator > .choose_special_model > .model-select > .model-select__label {
  color: #000;
  text-transform: uppercase;
  background: #bababa;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: Russo One, sans-serif;
  font-size: 24px;
  display: flex;
}

.Calculator > .choose_special_model > .model-select > .model-select__control {
  background-color: #e7e7e7;
  width: 210px;
  position: relative;
}

.Calculator > .choose_special_model > .model-select > .model-select__control > .model-select__dropdown {
  color: #6e6e6e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 48px 0 24px;
  font-size: 16px;
}

.Calculator > .choose_special_model > .model-select > .model-select__control > .model-select__dropdown:focus {
  outline: none;
}

.Calculator > .choose_special_model > .model-select > .model-select__control > .model-select__icon {
  pointer-events: none;
  color: #000;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.Calculator > .choose_special_model > .mileage-input {
  width: 100%;
  max-width: none;
  height: 56px;
  font-family: sans-serif;
  display: flex;
}

.Calculator > .choose_special_model > .mileage-input > .mileage-input__label {
  color: #000;
  text-transform: uppercase;
  background: #bababa;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: Russo One, sans-serif;
  font-size: 24px;
  display: flex;
}

.Calculator > .choose_special_model > .mileage-input > .mileage-input__control {
  background: #e6e6e6;
  position: relative;
}

.Calculator > .choose_special_model > .mileage-input > .mileage-input__control > .mileage-input__field {
  color: #6e6e6e;
  -moz-appearance: textfield;
  appearance: none;
  cursor: text;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 48px 0 24px;
  font-size: 16px;
}

.Calculator > .choose_special_model > .mileage-input > .mileage-input__control > .mileage-input__field:focus {
  outline: none;
}

.Calculator > .choose_special_model > .mileage-input > .mileage-input__control > .mileage-input__field::placeholder {
  color: #6e6e6e70;
}

.Calculator > .choose_special_model > .mileage-input > .mileage-input__control > .mileage-input__unit {
  color: #6e6e6e;
  pointer-events: none;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.Calculator > .choose_special_model > .buttons {
  gap: 16px;
  display: flex;
}

.Calculator > .choose_special_model > .buttons > button {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  height: 56px;
  padding: 0 32px;
  font-family: Russo One, sans-serif;
  font-size: 24px;
}

.Calculator > .choose_special_model > .buttons > button.selected {
  color: #fff;
  background-color: #2b6eff;
}

.Calculator > .calculator_table {
  flex-direction: column;
  width: 1200px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row--header {
  background-color: #0000;
  align-items: center;
  height: 60px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row--header > .calculator_table__cell--first {
  color: #262626;
  align-items: center;
  width: 45%;
  height: 60px;
  padding: 0 30px;
  font-family: Helvetica;
  font-size: 16px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row--header > .calculator_table__cell {
  color: #262626;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: Helvetica;
  font-size: 16px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row {
  align-items: center;
  height: 60px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--first-summ {
  background-color: #0000;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  width: 45%;
  height: 60px;
  padding: 0 30px 0 0;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--first-summ > span {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--first {
  background-color: #bababa;
  align-items: center;
  gap: 10px;
  width: 45%;
  height: 60px;
  padding: 0 30px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--first > .sq {
  cursor: pointer;
  background-color: #0000;
  border: 1px solid #fff;
  width: 20px;
  min-width: 20px;
  height: 20px;
  transition: all .1s;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--first > .sq.selected {
  background-color: #2b6eff;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--first > span {
  color: #000;
  font-size: 20px;
  line-height: 103%;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell {
  color: #000;
  background-color: #fff;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: Helvetica;
  font-size: 16px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--second {
  align-items: center;
  width: 55%;
  height: 60px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--second > .calculator_table__cell--second-left {
  color: #fff;
  background-color: #2b6eff;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 24px;
  display: flex;
}

.Calculator > .calculator_table > .calculator_table__row > .calculator_table__cell--second > .calculator_table__cell--second-right {
  color: #000;
  background-color: #fff;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 24px;
  display: flex;
}

.Calculator > .calculator_table__mobile {
  display: none;
}

@media screen and (width <= 1200px) {
  .Calculator {
    padding: 24px 0;
  }

  .Calculator > .choose_model {
    width: 100%;
  }

  .Calculator > .choose_model > .title_row {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 8px;
    padding: 0 24px;
  }

  .Calculator > .choose_model > .buttons {
    padding: 0 24px;
    overflow-x: scroll;
  }

  .Calculator > .choose_model > .buttons::-webkit-scrollbar {
    display: none;
  }

  .Calculator > .choose_car_block {
    width: 100%;
    margin-bottom: 32px;
  }

  .Calculator > .choose_special_model {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 24px;
  }

  .Calculator > .choose_special_model > .model-select {
    width: 100%;
  }

  .Calculator > .choose_special_model > .model-select > .model-select__label {
    width: 40%;
  }

  .Calculator > .choose_special_model > .model-select > .model-select__control {
    flex: 1;
  }

  .Calculator > .choose_special_model > .mileage-input {
    width: 100%;
  }

  .Calculator > .choose_special_model > .mileage-input > .mileage-input__label {
    width: 40%;
  }

  .Calculator > .choose_special_model > .mileage-input > .mileage-input__control {
    flex: 1;
  }

  .Calculator > .choose_special_model > .buttons {
    width: 100%;
  }

  .Calculator > .choose_special_model > .buttons > button {
    flex: 1;
  }

  .Calculator > .calculator_table {
    display: none;
  }

  .Calculator > .calculator_table__mobile {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0 24px;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .card {
    background-color: #fff;
    border: 1px solid #9a9a9a;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 24px;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .card > .top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .card > .top > .sq {
    cursor: pointer;
    background-color: #0000;
    border: 1px solid #bababa;
    width: 20px;
    min-width: 20px;
    height: 20px;
    transition: all .1s;
  }

  .Calculator > .calculator_table__mobile > .card > .top > .sq.selected {
    background-color: #2b6eff;
    border: 1px solid #0000;
  }

  .Calculator > .calculator_table__mobile > .card > .top > .title {
    color: #000;
    flex: 1;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 103%;
  }

  .Calculator > .calculator_table__mobile > .card > .top > .price {
    color: #000;
    font-family: Russo One;
    font-size: 20px;
    font-weight: 700;
  }

  .Calculator > .calculator_table__mobile > .card > .bottom {
    justify-content: space-between;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .card > .bottom > .left {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .card > .bottom > .left > .title {
    color: #8a8a8a;
    margin: 0;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
  }

  .Calculator > .calculator_table__mobile > .card > .bottom > .left > .price {
    color: #000;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  .Calculator > .calculator_table__mobile > .card > .bottom > .right {
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .card > .bottom > .right > .title {
    color: #8a8a8a;
    margin: 0;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
  }

  .Calculator > .calculator_table__mobile > .card > .bottom > .right > .price {
    color: #000;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  .Calculator > .calculator_table__mobile > .totalRow {
    flex-direction: row;
    width: 100%;
    height: 48px;
    margin-top: 12px;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .totalRow > .textBlock {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: #2b6eff;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-family: Russo One;
    font-size: 12px;
    font-weight: 700;
    display: flex;
  }

  .Calculator > .calculator_table__mobile > .totalRow > .sumBlock {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 32px;
    font-family: Russo One;
    font-size: 20px;
    font-weight: 700;
    display: flex;
  }
}

.stepTitle {
  display: none;
}

@media screen and (width <= 1200px) {
  .stepTitle {
    color: #000;
    text-align: start;
    width: 100%;
    padding: 0 24px;
    font-size: 20px;
    display: block;
  }

  .choose_model {
    margin-bottom: 28px;
  }

  .choose_special_model {
    margin-top: 28px;
  }
}

@media screen and (width <= 400px) {
  .choose_special_model {
    margin-top: 28px;
  }

  .choose_special_model > .buttons > button {
    padding: 0 !important;
    font-size: 20px !important;
  }
}


/* [project]/src/components/BtnGoCalc/BtnGoCalc.scss.css [app-client] (css) */
.calculate_cost {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  width: 230px;
  height: 45px;
  font-family: Helvetica;
  font-size: 16px;
  transition: all .2s;
}

.calculate_cost:hover {
  color: #fff;
  background-color: #242424;
}


/* [project]/src/components/BtnGoForm/BtnGoForm.scss.css [app-client] (css) */
.send_request {
  color: #fff;
  opacity: .6;
  cursor: pointer;
  border: 1px solid #fff;
  width: 230px;
  height: 45px;
  font-family: Helvetica;
  font-size: 16px;
  transition: all .2s;
}

.send_request:hover {
  opacity: 1;
}


/*# sourceMappingURL=src_ec9d7c08._.css.map*/