/* [project]/src/app/services/[slug]/service.scss.css [app-client] (css) */
.Startscreen {
  background-color: #1d1d1d;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 250px;
  display: flex;
}

.Startscreen > .content {
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 590px;
  display: flex;
}

.Startscreen > .content > .left {
  flex-direction: column;
  justify-content: space-between;
  height: 590px;
  padding-top: 100px;
  padding-left: calc(50% - 600px);
  padding-right: 24px;
  display: flex;
}

.Startscreen > .content > .left > .info {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.Startscreen > .content > .left > .info > h1 {
  color: #fff;
  font-family: Russo One;
  font-size: 64px;
  line-height: 100%;
}

.Startscreen > .content > .left > .info > p {
  color: silver;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
}

.Startscreen > .content > .left > button {
  color: #fff;
  cursor: pointer;
  background-color: #2b6eff;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 50px;
  font-size: 16px;
  display: flex;
}

.Startscreen > .content > .right {
  flex-grow: 0;
  flex-shrink: 0;
  width: 50%;
  height: 590px;
}

.Service > .calculator {
  background-color: #d0d0d0;
  justify-content: center;
  padding: 80px 0;
  display: flex;
}

.Service > .calculator > .content {
  flex-direction: column;
  gap: 16px;
  width: 1200px;
  display: flex;
}

.Service > .calculator > .content > h2 {
  color: #000;
  margin-bottom: 0;
  font-family: Russo One;
  font-size: 24px;
}

.Service > .calculator > .content > h3 {
  color: #000;
  margin-bottom: 16px;
  font-family: Russo One;
  font-size: 16px;
}

.Service > .calculator > .content > .send_request {
  color: #fff;
  cursor: pointer;
  background-color: #2b6eff;
  width: 230px;
  height: 45px;
  font-size: 16px;
  transition: all .2s;
}

.Service > .calculator > .content > .send_request:hover {
  opacity: 1;
}

.title_small {
  margin-left: 8px;
  font-size: 40px;
}

.images-wrapper {
  grid-row: 2;
  width: 100%;
  height: 100%;
  position: relative;
}

.images-wrapper__img {
  object-fit: cover;
  position: absolute;
  box-shadow: 0 4px 12px #0000004d;
}

.images-wrapper__img--small {
  z-index: 2;
  border: 11px solid #000;
  width: 350px;
  top: 20%;
  left: 15%;
}

.images-wrapper__img--large {
  z-index: 1;
  width: 480px;
  top: 35%;
  right: 30%;
}

.images-wrapper__subtitle {
  z-index: 3;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 25%;
  right: 120px;
}

.subtitle-top {
  color: silver;
  text-transform: uppercase;
  text-align: right;
  background-color: #000;
  margin: 0;
  font-size: 24px;
}

.subtitle-bottom {
  color: silver;
  text-transform: uppercase;
  background-color: #000;
  margin: 4px 0 0;
  font-size: 24px;
}

@media (width <= 1170px) {
  .images-wrapper__img--small {
    left: 8%;
  }

  .images-wrapper__img--large {
    right: 20%;
  }
}

.block_about_from_founder {
  background-color: #000;
  background-position: center;
  background-size: cover;
  height: auto;
  position: relative;
}

.description_about_block_founder {
  color: #fff;
  max-width: 660px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.row_1_description_photo {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 70px 120px;
  display: flex;
}

.row_2_description_photo {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 70px 120px;
  display: flex;
}

.hero_title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 120px;
  font-size: 48px;
  line-height: 103%;
}

.hero_title_small {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

@media (width <= 750px) {
  .images-wrapper__subtitle {
    display: none;
  }

  .images-wrapper__subtitle_mobile {
    color: silver;
    align-items: flex-end;
    height: 100%;
    font-size: 20px;
    display: flex;
  }

  .images-wrapper__img--small {
    width: 50%;
    margin-left: -11px;
    top: 10%;
    left: 0;
  }

  .images-wrapper__img--large {
    width: 80%;
    top: 30%;
    right: 15px;
  }

  .title_small, .hero_title {
    font-size: 20px;
  }

  .hero_title_small {
    font-size: 13px;
  }

  .row_1_description_photo {
    flex-direction: column-reverse;
    padding: 60px 15px;
  }

  .description_about_block_founder {
    font-size: 16px;
  }

  .row_2_description_photo {
    padding: 0 15px 80px;
  }
}

@media (width >= 1440px) {
  .images-wrapper__subtitle {
    right: 0;
  }
}

@media (width >= 750px) and (width <= 950px) {
  .images-wrapper__subtitle, .images-wrapper__img--large {
    right: 60px;
  }

  .images-wrapper__img--small {
    left: 0;
  }
}

@media (width >= 750px) {
  .images-wrapper__subtitle_mobile {
    display: none;
  }
}

@media screen and (width <= 1200px) {
  .Service > .Startscreen {
    padding: 80px 24px;
  }

  .Service > .Startscreen > .content {
    flex-direction: column;
    height: auto;
  }

  .Service > .Startscreen > .content > .left {
    gap: 24px;
    height: auto;
  }

  .Service > .Startscreen > .content > .right {
    display: none;
  }

  .Service > .calculator {
    padding: 24px;
  }
}

@media screen and (width <= 800px) {
  .Service > .Startscreen > .content > .left > .info > h1 {
    word-wrap: break-word;
    width: 100%;
    font-size: 36px;
  }

  .Service > .Startscreen > .content > .left > .info > p {
    font-size: 20px;
    line-height: 105%;
  }
}

/*# sourceMappingURL=src_app_services_%5Bslug%5D_service_scss_css_f9ee138c._.single.css.map*/