@import "tailwindcss";

@font-face {
  font-family: "Russo One";
  src: url("/fonts/RussoOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica", sans-serif;
  position: relative;
}

.whatsapp {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10000;
}

h2 {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 103%;
}
