.RemontAkppSpecial {
    min-height: 100vh;
    background-color: black;
    & > .wrapper {
        width: 1200px;
        margin: 0 auto;
        padding-top: 150px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 120px;
        & > h1 {
            width: 50%;
            font-size: clamp(24px, 4vw, 48px); 
            color: white;
            line-height: 1.2;
            word-break: break-word;
        }
        & > .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-items: stretch;
            & > .block {
                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 32px;
                & > h2 {
                    color: white;
                    font-size: 34px;
                    margin-bottom: 0;
                    font-family: 'Helvetica';
                    font-weight: 700;
                }
                & > p {
                    color: white;
                    font-family: 'Helvetica';
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .RemontAkppSpecial {
        & > .wrapper {
            & > h1 {
                font-size: clamp(32px, 6vw, 48px); 
                width: 100%;
            }
            width: 100%;
            padding: 150px 24px 48px 24px;
        }
    }
}

@media screen and (max-width: 850px) {
    .RemontAkppSpecial {
        & > .wrapper {
            gap: 60px;
            & > .row {
                flex-direction: column;
                gap: 48px;
                & > .block {
                    width: 100%;
                    gap: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .RemontAkppSpecial {
        & > .wrapper {
            & > h1 {
                font-size: 48px;
                word-wrap: break-word;
            }
            & > .row {
                & > .block {
                }
            }
        }
    }
}