.Discounts {
  padding: 130px 0;
  background-color: rgba(208, 208, 208, 1);
  display: flex;
  justify-content: center;

  &__wrapper {
      width: 1200px;
  }
  
  &__title {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin-bottom: 40px;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  &__item {
    cursor: pointer;
    transition: all 0.2s;
    width: calc(50% - 12px);
    &:hover {
      transform: scale(1.02);
      filter: brightness(0.9);
    }
  }
  
  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
  }
  
  &__item-title {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin: 0 0 16px 0;
    line-height: 105%;
  }
  
  &__item-description {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    margin: 0;
  }

  // Модалка для акции
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &-content {
      background-color: #242424;
      padding: 32px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 90%;
      max-width: 400px;
      color: #fff;

      h3 {
        margin: 0;
        font-size: 20px;
        text-align: center;
      }

      input {
        padding: 12px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid white;
        outline: none;
        background-color: #000;
        color: #fff;

        &::placeholder {
          color: #ccc;
        }
      }

      .submit_btn {
        background-color: #2b6eff;
        padding: 12px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &.disabled {
          opacity: 0.5;
          cursor: default;
          background-color: #3a3a3a;
        }
      }

      .close_btn {
        margin-top: 8px;
        background-color: #555;
        padding: 10px;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  
  // Адаптивность
  @media (max-width: 1200px) {
    &__wrapper {
      width: 100%;
      padding: 0px 24px;
    }
  }
  
  @media (max-width: 800px) {
    padding: 80px 0;
    
  }
  
  @media (max-width: 500px) {
  }
}


@media (max-width: 800px) {
  .Discounts {
    & > .Discounts__wrapper {
      & > .Discounts__list {
        flex-direction: column;
        & > .Discounts__item {
          width: 100%;
        }
      }
    }
  }
}